<div th:fragment="head">
  <header class="row">
    <div th:fragment="header-left" class="left-area col-3">
      <a class="homeButton" th:href="@{/}">
        <i class="h_pointer bi bi-house-door"></i>
      </a>
    </div>
    <div class="col-6 member-menu">
      <ul>
        <li>
          <a href="/member/d-day">디데이</a>
        </li>
        <li>
          <a th:href="@{/duty/{name}(name=${loginMember?.name})}">내 시간표</a>
        </li>
        <li>
          <a href="/logout">로그아웃</a>
        </li>
      </ul>
    </div>
    <div th:fragment="header-right" class="col-3 profile">
      <div th:if="${loginMember == null}">
        <a th:href="@{/login}" class="link">로그인
          <i class="bi bi-person-badge"></i>
        </a>
      </div>
      <div th:if="${loginMember != null}">
        <a class="memberPage-link link" href="/member">
          <span class="profile" th:text="|${loginMember?.name}|"/>
          <i class="bi bi-person"></i>
        </a>
      </div>
    </div>
  </header>
</div>
