<!DOCTYPE html>
<head th:fragment="link">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Home</title>
  <link rel="stylesheet" th:href="@{/css/base.css?v=20230124}"/>
  <link rel="stylesheet" th:href="@{/css/mquery.css?v=20230124}"/>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" th:href="@{/lib/waitme/waitMe.min.css}">

  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/sweetalert2.all.min.js}"></script>
  <script th:src="@{/lib/waitme/waitMe.min.js}"></script>
</head>

<head th:fragment="header(title)">
  <header class="row">
    <div class="left-area col-3">
      <a class="homeButton" th:href="@{/}">
        <i class="h_pointer bi bi-house-door"></i>
      </a>
    </div>
    <div class="month-control col-6">
      <h1 th:text="${title}"></h1>
    </div>
    <div class="col-3 profile">
      <div th:if="${loginMember == null}">
        <a th:href="@{/login}" class="link">로그인
          <i class="bi bi-person-badge"></i>
        </a>
      </div>
      <div th:if="${loginMember != null}">
        <span class="profile" th:text="|${loginMember?.name}|"/>
        <i class="bi bi-person"></i>
        <button class="logout-button" th:onclick="|window.location.href='/logout'|">Logout</button>
      </div>
    </div>
  </header>
</head>
