<head th:fragment="link">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon-32x32.png}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon-16x16.png}">
  <link rel="mask-icon" th:href="@{/safari-pinned-tab.svg}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>Duty Park</title>

  <link th:href="@{/lib/bootstrap/bootstrap.min.css}" rel="stylesheet">
  <script th:src="@{/lib/bootstrap/bootstrap.bundle.min.js}"></script>
  <link rel="stylesheet" th:href="@{/lib/bootstrap/bootstrap-icons-1.11.0/bootstrap-icons.css}">
  <link rel="stylesheet" th:href="@{/lib/waitme/waitMe.min.css}">
  <link rel="stylesheet" th:href="@{/lib/pretty-checkbox-3.0.3/dist/pretty-checkbox.min.css}">
  <script th:src="@{/lib/sortable-1.15.3/Sortable.min.js}"></script>
  <script th:src="@{/lib/jquery.min.js}"></script>
  <script th:src="@{/lib/sweetalert2.all.min.js}"></script>
  <script th:src="@{/lib/waitme/waitMe.min.js}"></script>
  <script th:src="@{/lib/vue.js}"></script>
  <script th:src="@{/lib/dayjs/dayjs.min.js}"></script>
  <script th:src="@{/lib/dayjs/relativeTime.js}"></script>
  <script th:src="@{/lib/dayjs/ko.js}"></script>

  <link rel="stylesheet" th:href="@{/css/base.css?v=20250117}"/>
  <link rel="stylesheet" th:href="@{/css/mquery.css?v=20250117}"/>
  <script>
      dayjs.extend(window.dayjs_plugin_relativeTime)
      dayjs.locale('ko')
  </script>

  <script th:src="@{/js/common.js?v=20250117}"></script>
</head>
