<!DOCTYPE html>
<head th:replace="~{layout/include::link}">
  <title></title>
</head>
<html lang="en">
<body>
<div id="body">
  <div th:replace="~{${content}}"></div>
</div>
</body>
<div id="footer">
  <div th:replace="~{layout/footer}"></div>
</div>
</html>

<script>
  document.addEventListener('click', function (event) {
    const isClickInside = document.querySelector('.navbar-collapse').contains(event.target);
    const isNavbarTogglerOpen = document.querySelector('.navbar-toggler').getAttribute('aria-expanded') === 'true';

    if (!isClickInside && isNavbarTogglerOpen) {
      document.querySelector('.navbar-toggler').click();
    }
  });

  // Prevent Blocked aria-hidden
  document.addEventListener("DOMContentLoaded", function () {
    document.addEventListener('hide.bs.modal', function () {
      if (document.activeElement) {
        document.activeElement.blur();
      }
    });
  });
</script>
