<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.0/kakao.min.js"
        integrity="sha384-l+xbElFSnPZ2rOaPrU//2FF5B4LB8FiX5q4fXYTlfcG4PGpMkE1vcL7kNXI6Cci0"
        crossorigin="anonymous"></script>

<div class="login-box shadow">
  <form @submit.prevent="login">
    <div class="form-group">
      <label for="emailInput">이메일 주소</label>
      <input id="emailInput" type="email" class="form-control" placeholder="email" v-model="email">
      <small class="form-text text-muted"><label for="remember">아이디 저장</label>
        <input type="checkbox" id="remember" name="remember" v-model="remember">
      </small>
    </div>
    <div class="form-group">
      <label for="passwordInput">비밀번호</label>
      <input type="password" class="form-control" id="passwordInput" placeholder="Password"
             maxlength="16" v-model="password">
    </div>
    <div class="form-buttons row">
      <div class="col-6">
        <button type="button" class="btn" @click="signUp">회원가입</button>
      </div>
      <div class="col-6">
        <button type="submit" class="btn" @click="login">로그인</button>
      </div>
      <div class="col-12 sso-login kakao-login" @click="kakaoLogin">
        <img src="/lib/kakao/kakao_login_large_wide.png" alt="kakao-login">
      </div>
    </div>
  </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        Kakao.init('fe206dfae05cfafc94806ad67abbcfc1');
        Kakao.isInitialized();

        const app = new Vue({
            el: '.login-box',
            data: {
                email: "[[${rememberMe}]]",
                password: '',
                remember: !!"[[${rememberMe}]]",
            },
            methods: {
                login() {
                    const remember = !!app.remember
                    const email = app.email;
                    const password = app.password;

                    if (!email || !password) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: '아이디 또는 비밀번호를 입력해주세요.'
                        })
                        return;
                    }

                    let data = {
                        email: email,
                        password: password,
                        rememberMe: remember,
                    };

                    const currentPageRequestParam = new URLSearchParams(window.location.search);
                    const referer = currentPageRequestParam.get('referer');

                    fetch('/api/auth/login' + (referer ? '?referer=' + referer : ''), {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),
                    }).then(async response => {
                        if (response.ok) {
                            location.href = await response.text();
                        } else if (response.status === 401) {
                            throw new Error('아이디 또는 비밀번호가 일치하지 않습니다.');
                        } else {
                            throw new Error('로그인에 실패했습니다.');
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: error.message
                        });
                    });
                },
                signUp() {
                    Swal.fire({
                        title: '회원가입',
                        text: '회원가입 기능은 제공하지 않습니다. 카카오 로그인을 이용해주세요.',
                        icon: 'info',
                    });
                },
                kakaoLogin() {
                    alert('카카오 로그인을 시도합니다.');
                }
            }
        });

    });

</script>
