<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.0/kakao.min.js"
        integrity="sha384-l+xbElFSnPZ2rOaPrU//2FF5B4LB8FiX5q4fXYTlfcG4PGpMkE1vcL7kNXI6Cci0"
        crossorigin="anonymous"></script>

<div class="member-vue" v-cloak>
  <table class="table table-bordered member-info">
    <tr>
      <th><label for="name" class="col-form-label">이름</label></th>
      <td>
        <input type="text" readonly class="form-control-plaintext" id="name" th:value="*{member.name}">
      </td>
    </tr>
    <tr>
      <th><label for="department" class="col-form-label">소속</label></th>
      <td>
        <input type="text" readonly class="form-control-plaintext" id="department"
               th:value="${member.department} ?: '-'">
      </td>
    </tr>
    <tr>
      <th>
        <label for="email" class="col-form-label">이메일</label>
      </th>
      <td>
        <input type="text" readonly class="form-control-plaintext" id="email" th:value="${member.email} ?: '-'">
      </td>
    </tr>
    <tr>
      <th>로그인 정보</th>
      <td>
        <div class="refresh-tokens">
          <table class="table table-bordered">
            <colgroup>
              <col style="width: 60px;">
              <col style="width: 150px;">
              <col style="width: 150px;">
              <col style="width: 200px;">
              <col style="width: 80px;">
              <col style="width: 100px;">
            </colgroup>
            <tr>
              <th></th>
              <th>마지막 접속</th>
              <th>Ip</th>
              <th>접속 기기</th>
              <th>브라우저</th>
              <th class="text-align-center">관리</th>
            </tr>
            <tr v-for="(token, index) in tokens">
              <td>{{ index+1 }}</td>
              <td>{{ token.lastUsed | fromNow }}</td>
              <td>{{ token.remoteAddr}}</td>
              <td>{{ token.userAgent ? token.userAgent.device : '' }}</td>
              <td>{{ token.userAgent ? token.userAgent.browser : '' }}</td>
              <td class="text-align-center">
                <button v-if="!token.isCurrentLogin" class="btn btn-outline-danger btn-sm"
                        @click="deleteToken(token.id)">
                  로그아웃
                </button>
                <button v-else class="btn btn-outline-success btn-sm" disabled>현재접속</button>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <th>계정연동</th>
      <td>
        <div class="sso-logins">
          <div class="sso-service sso-kakao">
            <div>
              <img class="sso-icon" src="/lib/kakao/kakao.png" alt="kakao-icon"> Kakao
            </div>
            <div>
              <button th:if="${member.kakaoId == null}" class="btn btn-outline-primary" @click="ssoKakao">
                연동하기
              </button>
              <div th:if="${member.kakaoId != null}">
                <span class="opacity-75">연동중</span>
                <button class="btn btn-outline-dark" @click="removeSsoKakao">
                  연동해제
                </button>
              </div>
            </div>
          </div>
          <hr/>
          <div class="sso-service sso-naver">
            <div>
              <img class="sso-icon" src="/lib/naver/naver.png" alt="kakao-icon"> Naver
            </div>
            <button class="btn btn-outline-primary" @click="ssoNaver">
              연동하기
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>관리</th>
      <td>
        <button th:if="${member.hasPassword}" class="btn btn-warning" @click="changePassword">비밀번호 변경</button>
        <button class="btn btn-danger" @click="deleteAccount">회원 탈퇴</button>
      </td>
    </tr>
  </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const testKey = '962c00be36be55bd0c0b55478cc25149';
        const opKey = 'fe206dfae05cfafc94806ad67abbcfc1';
        const curUrl = window.location.href;
        const curKey = curUrl.includes('localhost') ? testKey : opKey;
        Kakao.init(curKey);
        Kakao.isInitialized();

        const app = new Vue({
            el: '.member-vue',
            data: {
                tokens: []
            },
            mounted() {
                this.load();
            }, methods: {
                load: function () {
                    $.ajax({
                        url: '/api/refresh-tokens',
                        type: 'GET',
                        success: function (refreshTokens) {
                            app.tokens = refreshTokens;
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                },
                deleteToken: function (tokenId) {
                    Swal.fire({
                        title: '정말 로그아웃 하시겠습니까?',
                        text: "해당 기기에서 로그아웃 됩니다.",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#999',
                        confirmButtonText: '로그아웃',
                        cancelButtonText: '취소'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '/api/refresh-tokens/' + tokenId,
                                type: 'DELETE',
                                success: function () {
                                    app.load();
                                },
                                error: function (error) {
                                    console.log(error);
                                }
                            })
                        }
                    })
                },
                changePassword: function () {
                    Swal.fire({
                        title: '비밀번호 변경',
                        html: '<input id="swal-input1" class="swal2-input" placeholder="현재 비밀번호" type="password">' +
                            '<input id="swal-input2" class="swal2-input" placeholder="변경할 비밀번호" type="password">' +
                            '<input id="swal-input3" class="swal2-input" placeholder="변경할 비밀번호 확인" type="password">',
                        focusConfirm: false,
                        showCancelButton: true,
                        confirmButtonText: '변경',
                        cancelButtonText: '취소',
                        preConfirm: () => {
                            const currentPassword = Swal.getPopup().querySelector('#swal-input1').value
                            const newPassword = Swal.getPopup().querySelector('#swal-input2').value
                            const newPasswordConfirm = Swal.getPopup().querySelector('#swal-input3').value
                            if (!currentPassword || !newPassword || !newPasswordConfirm) {
                                Swal.showValidationMessage(`비밀번호를 입력해주세요.`)
                                return false
                            }
                            if (newPassword !== newPasswordConfirm) {
                                Swal.showValidationMessage(`비밀번호가 일치하지 않습니다.`)
                                return false
                            }
                            if (currentPassword === newPassword) {
                                Swal.showValidationMessage(`현재 비밀번호와 동일합니다.`)
                                return false
                            }
                            return {currentPassword: currentPassword, newPassword: newPassword}
                        }
                    }).then((result) => {
                        if (result.isConfirmed) {
                            const memberId = parseInt("[[${member.id}]]");
                            result.value.memberId = memberId;

                            $.ajax({
                                url: '/api/auth/password',
                                type: 'PUT',
                                data: JSON.stringify(result.value),
                                contentType: 'application/json',
                                success: function () {
                                    Swal.fire({
                                        title: '비밀번호가 변경되었습니다. 다시 로그인 해주세요.',
                                        icon: 'success',
                                        confirmButtonText: '확인',
                                    }).then((result) => {
                                        location.href = '/logout';
                                    });
                                },
                                error: function (error) {
                                    Swal.fire({
                                        title: '비밀번호 변경에 실패하였습니다.',
                                        text: error.responseJSON.message,
                                        icon: 'error',
                                        confirmButtonText: '확인',
                                    })
                                }
                            })
                        }
                    })
                }, deleteAccount() {
                    Swal.fire({
                        title: '회원 탈퇴',
                        text: '회원 탈퇴는 준비중입니다. 관리자에게 문의해주세요.',
                        icon: 'alert',
                        confirmButtonText: '확인',
                    })
                }, ssoNaver() {
                    Swal.fire({
                        title: '네이버 연동',
                        text: '네이버 연동은 준비중입니다.',
                        icon: 'info',
                        confirmButtonText: '확인',
                    })
                }, removeSsoKakao() {
                    // if the member's login method is only kakao, then if the member removes the kakao login, the member will not be able to log in.
                    Swal.fire({
                        title: '카카오 연동 해제',
                        text: '카카오 연동 해제는 준비중입니다.',
                        icon: 'info',
                        confirmButtonText: '확인',
                    })
                }, ssoKakao() {
                    Kakao.Auth.authorize({
                        redirectUri: window.location.origin + '/api/auth/Oauth2ClientCallback/kakao',
                        state: JSON.stringify({
                                login: true,
                                referer: window.location.href
                            }
                        ),
                    });
                }
            }, filters: {
                formatDate: function (value) {
                    if (value && value.length > 10) {
                        return value.substring(0, 10);
                    }
                },
                formatDateTime: function (value) {
                    if (value && value.length > 19) {
                        return value.substring(0, 19);
                    }
                },
                fromNow: function (value) {
                    return dayjs(value).fromNow();
                }
            }
        });
    })
</script>
