<div class="department-detail" v-cloak>
  <div class="buttons">
    <a class="btn btn-dark" th:href="@{/admin/department}">Back to List</a>
    <button class="btn btn-danger" v-on:click="remove()" :disabled="hasMember">Delete
    </button>
  </div>
  <div class="department-info">
    <h3>Department</h3>
    <table class="table table-striped">
      <tbody>
      <tr>
        <th scope="row">Name</th>
        <td>{{ department.name }}</td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td>{{ department.description }}</td>
      </tr>
      <tr>
        <th scope="row">Created At</th>
        <td>{{ department.createdDate }}</td>
      </tr>
      <tr>
        <th scope="row">Updated At</th>
        <td>{{ department.lastModifiedDate }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="member-list">
    <h3>
      Members
      <button class="btn btn-primary" v-on:click="addMember()">Add</button>
    </h3>
    <table class="table table-striped" v-if="hasMember">
      <colgroup>
        <col style="width: 10%">
        <col style="width: 30%">
        <col style="width: 40%">
        <col style="width: 20%">
      </colgroup>
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(member, index) in department.members">
        <td>{{index+1}}</td>
        <td>{{ member.name }}</td>
        <td>{{ member.email }}</td>
        <td>
          <button class="btn btn-danger" v-on:click="removeMember(member.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <p v-else>There is no member in this group</p>
  </div>
  <div class="duty_type-list">
    <h3>Duty Types
      <button class="btn btn-primary" v-on:click="addDutyType()">Add</button>
    </h3>
    <table class="table table-striped" v-if="hasDutyType">
      <colgroup>
        <col style="width: 10%">
        <col style="width: 30%">
        <col style="width: 40%">
        <col style="width: 20%">
      </colgroup>
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Color</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(dutyType,index) in department.dutyTypes">
        <td>{{index+1}}</td>
        <td>{{ dutyType.name }}</td>
        <td>{{ dutyType.color }}</td>
        <td>
          <button class="btn btn-danger" v-on:click="removeDutyType(dutyType.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <p v-else>There is no duty type in this group</p>
  </div>
</div>

<script>
    $(function () {
        // current url last path is id
        const departmentId = window.location.pathname.split('/').pop();
        const app = new Vue({
            el: '.department-detail',
            data: {
                department: {}
            },
            mounted() {
                this.load();
            },
            computed: {
                hasMember: function () {
                    return this.department.members && this.department.members.length > 0;
                },
                hasDutyType: function () {
                    return this.department.dutyTypes && this.department.dutyTypes.length > 0;
                }
            },
            methods: {
                load: function () {
                    $.ajax({
                        url: '/admin/api/departments/' + departmentId,
                        type: 'GET',
                        success: function (response) {
                            app.department = response;
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                }, remove: function () {
                    Swal.fire({
                        title: 'Delete department',
                        text: 'Are you sure you want to delete this department?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Delete',
                        confirmButtonColor: '#d33',
                        cancelButtonText: 'Cancel'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '/admin/api/departments/' + app.department.id,
                                type: 'DELETE',
                                success: function (response) {
                                    window.location.href = '/admin/department';
                                },
                                error: function (error) {
                                    Swal.fire({
                                        title: 'Error',
                                        text: 'Failed to delete department',
                                        icon: 'error',
                                        confirmButtonText: 'OK',
                                        confirmButtonColor: '#3085d6',
                                    })
                                }
                            })
                        }
                    });
                },
                addDutyType: function () {
                    Swal.fire({
                        title: 'Add Duty Type',
                        html: '<input id="swal-input1" class="swal2-input" placeholder="Name">' +
                            '<select id="swal-input2" class="swal2-input">' +
                            '<option value="RED">Red</option>' +
                            '<option value="BLUE">Blue</option>' +
                            '<option value="WHITE">White</option>' +
                            '<option value="GREEN">Green</option>' +
                            '<option value="YELLOW">Yellow</option>' +
                            '<option value="PURPLE">Purple</option>' +
                            '<option value="GREY">Grey</option>',
                        focusConfirm: false,
                        preConfirm: () => {
                            const name = document.getElementById('swal-input1').value
                            const color = document.getElementById('swal-input2').value
                            if (!name) {
                                Swal.showValidationMessage(`Name is required`)
                            }
                            if (app.department.dutyTypes.some(dutyType => dutyType.name === name)) {
                                Swal.showValidationMessage(`Duty type with name ${name} already exists`)
                            }
                            return [name, color]
                        },
                        showCancelButton: true,
                        confirmButtonText: 'Add',
                        confirmButtonColor: '#3085d6',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '/admin/api/duty-types',
                                type: 'POST',
                                data: JSON.stringify({
                                    departmentId: app.department.id,
                                    name: result.value[0],
                                    color: result.value[1]
                                }),
                                contentType: 'application/json',
                                success: function (response) {
                                    app.load();
                                },
                                error: function (error) {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Failed to add duty type'
                                    })
                                }
                            })
                        }
                    });
                },
                removeDutyType: function (dutyTypeId) {
                    Swal.fire({
                        title: 'Delete duty type',
                        text: 'Are you sure you want to delete this duty type?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Delete',
                        confirmButtonColor: '#d33',
                        cancelButtonText: 'Cancel'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '/admin/api/duty-types/' + dutyTypeId,
                                type: 'DELETE',
                                success: function (response) {
                                    app.load();
                                },
                                error: function (error) {
                                    Swal.fire({
                                        title: 'Error',
                                        text: 'Failed to delete duty type',
                                        icon: 'error',
                                        confirmButtonText: 'OK',
                                        confirmButtonColor: '#3085d6',
                                    })
                                }
                            })
                        }
                    })
                },
                removeMember: function (memberId) {
                    Swal.fire({
                        title: 'Delete member',
                        text: 'Are you sure you want to delete this member from department?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Delete',
                        confirmButtonColor: '#d33',
                        cancelButtonText: 'Cancel'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '/admin/api/departments/' + app.department.id + '/members/' + memberId,
                                type: 'DELETE',
                                success: function (response) {
                                    app.load();
                                },
                                error: function (error) {
                                    Swal.fire({
                                        title: 'Error',
                                        text: 'Failed to delete member',
                                        icon: 'error',
                                        confirmButtonText: 'OK',
                                        confirmButtonColor: '#3085d6',
                                    })
                                }
                            })
                        }
                    })
                }
            }
        });
    })
</script>
