<div class="department-detail" v-cloak>
  <h1>{{ department.name }}</h1>
  <div class="department-info">
    <h3>Department Information</h3>
    <table class="table table-striped">
      <tbody>
      <tr>
        <th scope="row">Name</th>
        <td>{{ department.name }}</td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td>{{ department.description }}</td>
      </tr>
      <tr>
        <th scope="row">Created At</th>
        <td>{{ department.baseTime.createdDate }}</td>
      </tr>
      <tr>
        <th scope="row">Updated At</th>
        <td>{{ department.baseTime.modifiedDate }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="member-list">
    <h3>Members</h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(member, index) in department.members">
        <td>{{index+1}}</td>
        <td>{{ member.name }}</td>
        <td>{{ member.email }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="duty_type-list">
    <h3>Duty Types</h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Color</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="dutyType in department.dutyTypes">
        <td>{{ dutyType.name }}</td>
        <td>{{ dutyType.color }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
    $(function () {
        // current url last path is id
        const departmentId = window.location.pathname.split('/').pop();
        console.log(departmentId);
        const app = new Vue({
            el: '.department-detail',
            data: {
                department: {}
            },
            mounted() {
                this.load();
            },
            methods: {
                load: function () {
                    $.ajax({
                        url: '/api/departments/' + departmentId,
                        type: 'GET',
                        success: function (response) {
                            app.department = response;
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                }
            }
        })
    })
</script>
