<div class="team-detail mt-4" v-cloak>
  <div class="d-flex justify-content-between mb-3">
    <a class="btn btn-dark" th:href="@{/admin/team}"><i class="bi bi-arrow-left"></i> Back to List</a>
    <button class="btn btn-danger" v-on:click="remove()" :disabled="hasMember"><i class="bi bi-trash"></i> Delete
    </button>
  </div>

  <div class="card shadow-sm mb-4">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">team Details</h5>
    </div>
    <div class="card-body">
      <table class="table table-hover table-bordered">
        <tbody>
        <tr>
          <th scope="row">Name</th>
          <td>{{ team.name }}</td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td>{{ team.description }}</td>
        </tr>
        <tr>
          <th scope="row">Created At</th>
          <td>{{ team.createdDate }}</td>
        </tr>
        <tr>
          <th scope="row">Updated At</th>
          <td>{{ team.lastModifiedDate }}</td>
        </tr>
        <tr>
          <th scope="row">Manager</th>
          <td class="text-primary fw-bold cursor-pointer" v-on:click="managerSearchModal()">
            {{ team.manager ? team.manager : 'N/A' }}
          </td>
        </tr>
        <tr>
          <th scope="row">Batch Template</th>
          <td>
            <select class="form-select" v-on:change="updateBatchTemplate($event.target.value)">
              <option value="">없음</option>
              <option v-for="template in dutyBatchTemplates"
                      v-bind:value="template.name"
                      v-text="template.label"
                      :selected="template?.name === team?.dutyBatchTemplate?.name"
              >
              </option>
            </select>
          </td>
        </tr>
        <tr v-if="team.dutyBatchTemplate">
          <th>근무표 업로드</th>
          <td>
            <button class="btn btn-primary" v-on:click="batchDuty()">등록</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card shadow-sm mb-4">
    <div class="card-header bg-secondary text-white d-flex justify-content-between">
      <h5 class="mb-0">Members</h5>
      <button class="btn btn-light" v-on:click="memberSearchModal()"><i class="bi bi-person-plus"></i> Add</button>
    </div>
    <div class="card-body">
      <table class="table table-hover table-striped" v-if="hasMember">
        <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(member, index) in team.members">
          <td>{{ index+1 }}</td>
          <td>{{ member.name }}</td>
          <td>{{ member.email }}</td>
          <td>
            <button class="btn btn-danger btn-sm" v-on:click="removeMember(member.id)">
              <i class="bi bi-trash"></i> 제외
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <p v-else class="text-muted">There is no member in this group</p>
    </div>
  </div>

  <div class="card shadow-sm">
    <div class="card-header bg-info text-white d-flex justify-content-between">
      <h5 class="mb-0">Duty Types</h5>
      <button class="btn btn-light" v-on:click="addDutyType()"><i class="bi bi-plus-lg"></i> Add</button>
    </div>
    <div class="card-body">
      <table class="table table-hover table-striped" v-if="hasDutyType">
        <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Color</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(dutyType,index) in team.dutyTypes" v-bind:id="dutyType.id" class="duty-type">
          <td>{{ index+1 }}</td>
          <td class="fw-bold duty-type-name">{{ dutyType.name }}</td>
          <td><span :class="['badge', 'rounded-pill', 'duty-type-color' ,'border', 'BACKGROUND-' + dutyType.color]"
                    :data-color="dutyType.color">&nbsp;&nbsp;</span>
          <td>
            <button class="btn btn-primary btn-sm" v-on:click="updateDutyType($event.target)">
              <i class="bi bi-pencil"></i> Edit
            </button>
            <button class="btn btn-secondary btn-sm" :disabled="index==0 || index == (team.dutyTypes.length - 1)"
                    v-on:click="swapPosition(index, index + 1)">
              <i class="bi bi-arrow-down"></i>
            </button>
            <button class="btn btn-secondary btn-sm" :disabled="index <= 1" v-on:click="swapPosition(index, index - 1)">
              <i class="bi bi-arrow-up"></i>
            </button>
            <button class="btn btn-danger btn-sm" :disabled="!dutyType.id" v-on:click.stop="removeDutyType(dutyType)">
              <i class="bi bi-trash"></i> Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <p v-else class="text-muted">There is no duty type in this group</p>
    </div>
  </div>
</div>


<!-- Modals -->
<div id="member-search-modal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" v-text="mode=='memberSearch' ? 'Add Member' : 'Change Manager'"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                 aria-describedby="button-addon2" v-model="keyword" v-on:keyup.enter="search">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" v-on:click="search">Search
          </button>
        </div>
        <table class="table table-striped" v-if="searchResult.length > 0">
          <colgroup>
            <col style="width: 10%">
            <col style="width: 30%">
            <col style="width: 40%">
            <col style="width: 20%">
          </colgroup>
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">team</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(member, index) in searchResult">
            <td>{{(page-1) * pageSize + index + 1}}</td>
            <td>{{ member.name }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.team }}</td>
            <td>
              <button class="btn btn-primary"
                      v-on:click="action(member)"
                      v-bind:disabled="mode=='memberSearch' && member.team">Select
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <p v-else>There is no matching result</p>
        <div class="page-info">
          <p>Page {{ page }} of {{ totalPage }} | Total results: {{ totalElements }}</p>
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item" :class="{ 'disabled': page == 1 }">
                <button class="page-link" @click="prevPage" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </button>
              </li>
              <li class="page-item" :class="{ 'active': i == page }" v-for="i in totalPage" :key="i">
                <button class="page-link" @click="goToPage(i)">{{ i }}</button>
              </li>
              <li class="page-item" :class="{ 'disabled': page == totalPage }">
                <button class="page-link" @click="nextPage" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="modal-footer">
        <button v-if="mode=='managerSearch'" v-on:click="changeManager(null)" type="button" class="btn btn-warning">
          Reset
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

<div id="duty-type-modal" hidden>
  <input class="swal2-input" placeholder="Name" name="name" maxlength="10">
  <select class="swal2-input" name="color">
    <option value="RED">Red</option>
    <option value="BLUE">Blue</option>
    <option value="WHITE">White</option>
    <option value="GREEN">Green</option>
    <option value="YELLOW">Yellow</option>
    <option value="PURPLE">Purple</option>
    <option value="GREY">Grey</option>
  </select>
</div>

<script>
  const teamID = parseInt("[[${teamId}]]");

  const memberSearchModal = new Vue({
    el: '#member-search-modal',
    data: {
      keyword: '',
      searchResult: [],
      page: 1,
      totalPage: 0,
      pageSize: 5,
      totalElements: 0,
      mode: 'memberSearch',
    },
    methods: {
      prevPage: function () {
        if (this.page > 1) {
          this.page--;
          this.search();
        }
      },
      nextPage: function () {
        if (this.page < this.totalPage) {
          this.page++;
          this.search();
        }
      },
      goToPage: function (page) {
        this.page = page;
        this.search();
      },
      resetForMemberSearch: function () {
        this.reset();
        this.mode = 'memberSearch';
      },
      resetForManagerSearch: function () {
        this.reset();
        this.mode = 'managerSearch';
      },
      reset: function () {
        this.keyword = '';
        this.searchResult = [];
        this.page = 1;
        this.totalPage = 0;
        this.pageSize = 5;
        this.totalElements = 0;
        this.search();
      },
      search: function () {
        $.ajax({
          url: '/admin/api/members',
          type: 'GET',
          data: {
            name: this.keyword,
            page: this.page - 1,
            size: this.pageSize
          },
          success: function (response) {
            memberSearchModal.searchResult = response.content;
            memberSearchModal.totalPage = response.totalPages;
            memberSearchModal.totalElements = response.totalElements;
          },
          error: function (error) {
            console.log(error);
          }
        })
      },
      action: function (member) {
        if (this.mode === 'memberSearch') {
          this.addMember(member.id);
          return;
        }
        if (this.mode === 'managerSearch') {
          this.changeManager(member.id, member.name);
          return;
        }
        throw new Error('Invalid mode');
      },
      changeManager: function (memberId, memberName) {
        let confirmText = 'Are you sure to assign [' + memberName + '] as the manager of this team?';
        if (!memberId) {
          confirmText = 'Are you sure to remove the manager of this team?';
        }
        Swal.fire({
          title: 'Are you sure?',
          text: confirmText,
          icon: 'success',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          confirmButtonText: 'Yes, change it!'
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
              url: '/admin/api/teams/' + teamID + '/manager',
              type: 'PUT',
              data: {
                memberId: memberId
              },
              success: function (response) {
                app.load();
                $('#member-search-modal').modal('hide');
              },
              error: function (error) {
                console.log(error);
              }
            })
          }
        });
      },
      addMember: function (memberId) {
        Swal.fire({
          title: 'Are you sure?',
          text: 'Are you sure you want to add this member to this team?',
          icon: 'success',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, add it!'
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
              url: '/admin/api/teams/' + teamID + '/members',
              type: 'POST',
              data: {
                memberId: memberId
              },
              success: function (response) {
                app.load();
                $('#member-search-modal').modal('hide');
              },
              error: function (error) {
                console.log(error);
              }
            })
          }
        });
      }
    }
  })

  const app = new Vue({
    el: '.team-detail',
    data: {
      team: {},
      memberSearchKeyword: '',
      memberSearchResult: [],
      dutyBatchTemplates: [],
    },
    mounted() {
      this.load();
      this.loadDutyBatchTemplates();
    },
    computed: {
      hasMember: function () {
        return this.team.members && this.team.members.length > 0;
      },
      hasDutyType: function () {
        return this.team.dutyTypes && this.team.dutyTypes.length > 0;
      }
    },
    methods: {
      load: function () {
        $.ajax({
          url: '/admin/api/teams/' + teamID,
          type: 'GET',
          success: function (response) {
            app.team = response;
          },
          error: function (error) {
            console.log(error);
          }
        })
      },
      loadDutyBatchTemplates: function () {
        $.ajax({
          url: '/api/duty_batch/templates',
          type: 'GET',
          success: function (response) {
            app.dutyBatchTemplates = response;
          },
          error: function (error) {
            console.log(error);
          }
        })
      },
      remove: function () {
        Swal.fire({
          title: 'Delete team',
          text: 'Are you sure you want to delete this team?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Delete',
          confirmButtonColor: '#d33',
          cancelButtonText: 'Cancel'
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
              url: '/admin/api/teams/' + app.team.id,
              type: 'DELETE',
              success: function (response) {
                window.location.href = '/admin/team';
              },
              error: function (error) {
                Swal.fire({
                  title: 'Error',
                  text: 'Failed to delete team',
                  icon: 'error',
                  confirmButtonText: 'OK',
                  confirmButtonColor: '#3085d6',
                })
              }
            })
          }
        });
      },
      updateDutyType: function (element) {
        const dutyType = element.closest('.duty-type');
        const dutyTypeName = dutyType.querySelector('.duty-type-name').textContent;
        const dutyTypeColor = dutyType.querySelector('.duty-type-color').getAttribute('data-color');
        const dutyTypeId = dutyType.attributes['id']?.value;

        const modal = document.querySelector('#duty-type-modal').cloneNode(true);
        let nameInput = modal.querySelector('input[name="name"]');
        nameInput.setAttribute('value', dutyTypeName);

        modal.querySelectorAll('option').forEach(option => {
          if (option.value === dutyTypeColor) {
            option.setAttribute('selected', 'selected');
          }
        });

        Swal.fire({
          title: 'Update Duty Type',
          html: modal.innerHTML,
          focusConfirm: false,
          preConfirm: () => {
            let swalPopup = document.querySelector('.swal2-popup');
            const name = swalPopup.querySelector('input[name="name"]').value
            const color = swalPopup.querySelector('select[name="color"]').value
            if (!name) {
              Swal.showValidationMessage(`Name is required`)
            }
            if (app.team.dutyTypes.some(dutyType => dutyType.name === name && dutyType.id != dutyTypeId)) {
              Swal.showValidationMessage(`Duty type with name ${name} already exists`)
            }
            return [name, color]
          },
          showCancelButton: true,
          confirmButtonText: 'Update',
          confirmButtonColor: '#29945A',
        }).then((result) => {
          if (result.isConfirmed) {
            if (!dutyTypeId) {
              app.updateDefaultDuty(result.value[0], result.value[1]);
              return;
            }
            $.ajax({
              url: '/admin/api/duty-types',
              type: 'PATCH',
              data: JSON.stringify({
                id: dutyTypeId,
                name: result.value[0],
                color: result.value[1]
              }),
              contentType: 'application/json',
              success: function (response) {
                app.load();
              },
              error: function (error) {
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Failed to add duty type'
                })
              }
            })
          }
        });
      },
      addDutyType: function () {
        Swal.fire({
          title: 'Add Duty Type',
          html: $('#duty-type-modal').clone().html(),
          focusConfirm: false,
          preConfirm: () => {
            let swalPopup = document.querySelector('.swal2-popup');
            const name = swalPopup.querySelector('input[name="name"]').value
            const color = swalPopup.querySelector('select[name="color"]').value
            if (!name) {
              Swal.showValidationMessage(`Name is required`)
            }
            if (app.team.dutyTypes.some(dutyType => dutyType.name === name)) {
              Swal.showValidationMessage(`Duty type with name ${name} already exists`)
            }
            return [name, color]
          },
          showCancelButton: true,
          confirmButtonText: 'Add',
          confirmButtonColor: '#3085d6',
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
              url: '/admin/api/duty-types',
              type: 'POST',
              data: JSON.stringify({
                teamId: app.team.id,
                name: result.value[0],
                color: result.value[1]
              }),
              contentType: 'application/json',
              success: function (response) {
                app.load();
              },
              error: function (error) {
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Failed to add duty type'
                })
              }
            })
          }
        });
      },
      swapPosition: function (index1, index2) {
        const dutyType1 = app.team.dutyTypes[index1];
        const dutyType2 = app.team.dutyTypes[index2];
        $.ajax({
          url: '/admin/api/duty-types/swap-position?id1=' + dutyType1.id + '&id2=' + dutyType2.id,
          type: 'PATCH',
          success: function (response) {
            app.load();
          },
          error: function (error) {
            Swal.fire({
              title: 'Error',
              text: 'Failed to swap duty types',
              icon: 'error',
              confirmButtonText: 'OK',
              confirmButtonColor: '#3085d6',
            })
          }
        })
      },
      removeDutyType: function (dutyType) {
        Swal.fire({
          title: 'Delete duty type',
          text: 'Are you sure you want to delete duty type [ ' + dutyType.name + ' ] ?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Delete',
          confirmButtonColor: '#d33',
          cancelButtonText: 'Cancel'
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
              url: '/admin/api/duty-types/' + dutyType.id,
              type: 'DELETE',
              success: function (response) {
                app.load();
              },
              error: function (error) {
                Swal.fire({
                  title: 'Error',
                  text: 'Failed to delete duty type',
                  icon: 'error',
                  confirmButtonText: 'OK',
                  confirmButtonColor: '#3085d6',
                })
              }
            })
          }
        })
      },
      memberSearchModal: function () {
        memberSearchModal.resetForMemberSearch();
        $('#member-search-modal').modal('show');
      },
      managerSearchModal: function () {
        memberSearchModal.resetForManagerSearch();
        $('#member-search-modal').modal('show');
      },
      removeMember: function (memberId) {
        Swal.fire({
          title: 'Delete member',
          text: 'Are you sure you want to delete this member from team?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Delete',
          confirmButtonColor: '#d33',
          cancelButtonText: 'Cancel'
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
              url: '/admin/api/teams/' + app.team.id + '/members',
              data: {
                memberId: memberId
              },
              type: 'DELETE',
              success: function (response) {
                app.load();
              },
              error: function (error) {
                Swal.fire({
                  title: 'Error',
                  text: 'Failed to delete member',
                  icon: 'error',
                  confirmButtonText: 'OK',
                  confirmButtonColor: '#3085d6',
                })
              }
            })
          }
        })
      }, updateDefaultDuty(name, color) {
        const teamId = app.team.id;
        $.ajax({
          url: '/admin/api/teams/' + teamId + '/default-duty',
          type: 'PATCH',
          data: {
            name: name,
            color: color,
          },
          success: function () {
            app.load();
          }, error: function (error) {
            Swal.fire({
              title: 'Error',
              text: 'Failed to change off color',
              icon: 'error',
              confirmButtonText: 'OK',
              confirmButtonColor: '#3085d6',
            });
          }
        })
      }, updateBatchTemplate(templateName) {
        const teamId = app.team.id;
        $.ajax({
          url: '/admin/api/teams/' + teamId + '/batch-template',
          type: 'PATCH',
          data: {
            templateName: templateName,
          },
          success: function () {
            app.load();
          }, error: function (error) {
            Swal.fire({
              title: 'Error',
              text: 'Failed to change batch template',
              icon: 'error',
              confirmButtonText: 'OK',
              confirmButtonColor: '#3085d6',
            });
          }
        })
      }, batchDuty() {
        const today = new Date();
        const year = today.getFullYear();
        const month = today.getMonth() + 1;
        Swal.fire({
          title: '근무표 업로드',
          html: `
    <div class="mb-3">
        <label for="batchFile" class="form-label">근무표 파일 업로드 (.xlsx)</label>
        <input type="file" id="batchFile" class="form-control" accept=".xlsx">
    </div>
    <div class="d-flex gap-2">
        <div class="flex-grow-1">
            <label for="batchYear" class="form-label">연도</label>
            <input type="number" id="batchYear" class="form-control" value="${year}" min="${year}" max="${year + 1}">
        </div>
        <div class="flex-grow-1">
            <label for="batchMonth" class="form-label">월</label>
            <input type="number" id="batchMonth" class="form-control" value="${month}" min="1" max="12">
        </div>
    </div>
`,
          focusConfirm: false,
          showCancelButton: true,
          confirmButtonText: 'Upload',
          confirmButtonColor: '#3085d6',
          preConfirm: () => {
            const file = document.getElementById('batchFile').files[0];
            const year = document.getElementById('batchYear').value;
            const month = document.getElementById('batchMonth').value;
            if (!file || !year || !month) {
              Swal.showValidationMessage('파일 및 연도, 월을 입력해주세요');
            }
            return {file, year, month};
          }
        }).then((result) => {
          if (result.isConfirmed) {
            const formData = new FormData();
            formData.append('file', result.value.file);
            formData.append('year', result.value.year);
            formData.append('month', result.value.month);

            Swal.fire({
              title: '업로드 중...',
              text: '파일을 처리하고 있습니다. 잠시만 기다려주세요.',
              allowOutsideClick: false,
              didOpen: () => {
                Swal.showLoading();
              }
            });

            fetch(`/admin/api/teams/${app.team.id}/duty`, {
              method: 'POST',
              body: formData
            }).then(response => {
              if (!response.ok) {
                throw new Error('시간표 업로드 실패');
              }
              return response.json();
            }).then(data => {
              if (!data.result) {
                throw new Error(data.errorMessage);
              }
              app.load();

              const startDate = data.startDate;
              const endDate = data.endDate;
              const successSummary = data.dutyBatchResult
                .sort((a, b) => b.second.workingDays - a.second.workingDays)
                .filter(emp => emp.second.result)
                .map(emp => `${emp.first}: ${emp.second.workingDays}일`)
                .join(", ");
              const failSummary = data.dutyBatchResult
                .filter(emp => !emp.second.result)
                .map(emp => `${emp.first}: ${emp.second.errorMessage}`)
                .join("<br/>");
              let html = `<strong>${startDate} ~ ${endDate}</strong><br/>근무 시간표가 등록되었습니다. 각 직원의 해당 기간 총 근무일은 아래와 같습니다.<br><br>${successSummary}`;
              if (failSummary) {
                html += `<br><br><h3>업로드 실패</h3>${failSummary}`;
              }
              Swal.fire({
                title: failSummary ? '업로드 부분 실패' : '업로드 성공!',
                html: html,
                icon: 'success',
                confirmButtonText: '확인',
                confirmButtonColor: '#3085d6',
              });
            }).catch(error => {
              Swal.fire({
                title: '시간표 등록 실패',
                text: error.message,
                icon: 'error',
                confirmButtonText: 'OK',
                confirmButtonColor: '#3085d6',
              });
            });
          }
        });
      }
    }
  });
</script>
