@font-face {
    font-family: 'NexonMaplestory';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryLight.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryLight.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryLight.ttf') format("truetype");
    font-display: swap;
}

[v-cloak] {
    display: none;
}

body {
    font-family: NexonMaplestory;
    --bs-body-font-family: NexonMaplestory;
}

body a {
    text-decoration: none;
    color: inherit;
}

body a:hover {
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
}

.calendar ul, ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
}

.calendar li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: 0;
}

ul.weekdays {
    margin-bottom: 1em;
}

ul.weekdays li {
    height: 4vw;
}

ol.day-grid li {
    min-height: 6vw;
    height: 100%;
    padding: 0px;
    display: inline-table;
    border-radius: 0.625rem;
    box-shadow: 2px 4px 7px 3px #eaeaea;
}

ol.day-grid li.month-prev,
ol.day-grid li.month-next {
    filter: opacity(0.5);
}

.day-grid li.editable:hover {
    cursor: pointer;
    filter: opacity(0.8);
}

.BACKGROUND-RED {
    background-color: lightpink !important;
}

.BACKGROUND-BLUE {
    background-color: aliceblue !important;
}

.BACKGROUND-PURPLE {
    background-color: mediumpurple !important;
}

.BACKGROUND-GREEN {
    background-color: palegreen !important;
}

.BACKGROUND-YELLOW {
    background-color: wheat !important;
}

.BACKGROUND-GREY {
    background-color: lightgrey !important;
}


ul.weekdays abbr[title] {
    border: none;
    font-weight: 800;
    text-decoration: none;
}

ol.day-grid li.month-prev, ol.day-grid li.month-next {
    background-color: #fff;
}

h1 a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

h1 a:hover {
    color: black;
}

h1 a.move:hover {
    font-weight: bold;
    color: black;
}

.text-right {
    text-align: right !important;
}

.btn-outline-dark.selected:disabled {
    border: 3px dotted red;
}

.text-align-left {
    text-align: left !important;
}

.text-align-center {
    text-align: center !important;
}

.day-grid .date {
    padding: 0px;
    text-align: center;
    width: 100%;
}

.day-grid .date .d-day-count {
    font-size: 0.8em;
}

.date .day-header {
    margin-top: 5px;
}

.date .day {
    margin-left: 5px;
    font-size: 1.2em;
}

.day-grid li:nth-child(7n+1) .day {
    color: red;
}

.day-grid li:nth-child(7n) .day {
    color: blue;
}

.day-grid .today {
    border: 3px solid red;
}

.day-grid .today .day span {
    color: white;
}

.day-grid .today .day {
    background-color: red;
    border-radius: 100%;
    width: 100%;
}

.homeButton {
    font-size: 1.7em;
    color: #ccc;
}

a.homeButton:hover {
    color: white;
}

.h_pointer:hover {
    cursor: pointer !important;
}

.bi-calendar-plus {
    opacity: 0.5;
}

.dutyTypes {
    font-size: 1.3em;
    text-align: right;
    margin: 0 auto;
}

.dutyTypes .indicator {
    margin-left: 5px;
    border: 2px solid #eaeaea;
}

.month-control {
    text-align: center;
}

.month-control .info {
    display: inline;
    font-size: 1.5em;
    background-color: #eee;
    padding: 10px;
    border-radius: 15px;
}

.month-control-left {
    text-align: left;
}

.month-control-right {
    text-align: right;
}

.link {
    color: unset;
}

.link:hover {
    cursor: pointer;
}

.login-box {
    max-width: 50%;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.125), 0 25px 50px rgba(0, 0, 0, 0.25);
    margin: 100px auto 0;
    font-size: 1.5em;
}

.login-box .form-group {
    margin-bottom: 1em;
}

.form-buttons {
    text-align: center;
}

.form-buttons div {
    padding: 0px 10px;
}

.form-buttons button {
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #eaeaea;
    border: 0px;
}

.form-buttons button:hover {
    background-color: #ccc;
}

.body, .calendar {
    max-width: 64rem;
    margin: 20px auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.calendar .month-control button {
    font-size: 1.5em;
    width: 100%;
    border: 1px solid black;
    background: none;
    border-radius: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.125), 0 3px 5px rgba(0, 0, 0, 0.25);
}

.calendar .month-control button:hover {
    background-color: #ddd;
    transition: 0.3s;
}

.day-grid {
    padding-left: 0px;
}

.logout-button:hover {
    background-color: #777;
}

.members {
    padding: 20px;
    font-size: 2.5em;
}

.calendar input[type="month"] {
    width: 6em;
    background: none;
    border: none;
    text-align: center;
    color: black;
}

.calendar input[type="month"]:hover {
    cursor: pointer;
}

.dutyTypes button {
    color: black;
}

a.memberPage-link {
    text-decoration: none;
}

a.memberPage-link:hover {
    color: whitesmoke;
    transition: 0.3s;
}

.d-day-item .d-day_menu {
    text-align: right;
}

.d-day-item .d-day_day {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.d-day-item p {
    font-size: 1.2em;
}

.add_modal input {
    width: 80%;
}

.d-day-list .d-day-item {
    background-color: mintcream;
    height: 100px;
    margin: 10px;
    padding: 10px;
    box-shadow: 6px 10px 40px -28px rgba(0, 0, 0, 0.75);
}

.d-day-list .d-day-item.selected {
    border: 3px solid lightpink;
    filter: brightness(90%);
}

.d-day-list .d-day-item:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.d-day-list .d-day-private {
    background-color: mistyrose;
}

.d-day-item .d-day_day .pretty {
    font-size: 0.8em;
}

.hidden {
    display: none;
}

.swal2-html-container form {
    text-align: left;
}

.date .duty {
    width: 100%;
    margin: 0px;
}

.duty .duty-type {
    margin: 0px;
    padding: 0px;
    height: 2em;
}

.duty .duty-type button {
    width: 100%;
    margin-bottom: 0.5em;
}

.duty_type-list .duty-type:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.calendar .date .schedule {
    display: flex;
    align-items: flex-start;
    font-size: 1em;
}

.calendar .date .schedule .schedule-content {
    text-align: left;
    margin-bottom: 0px;
    margin-left: 5px;
    line-height: 2;
}

.date .schedules .schedule:not(:last-child) {
    border-bottom: 2px dashed white;
}

#detail-view-modal .schedules .schedule {
    font-size: 1.2em;
    border-radius: 15px;
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
}

.schedules .schedule small {
    font-size: 0.75em;
}


#detail-view-modal .schedules .schedule .buttons {
    text-align: right;
}

.shadow {
    box-shadow: 2px 4px 7px 3px #eaeaea;
}

.navbar {
    font-size: 1.5em;
}

.navbar .nav-right {
    color: white;
    margin-right: 20px;
}

.navbar-brand {
    margin-left: 1em;
}

.member-hover-menu {
    display: none;
    position: absolute;
    text-align: right;
    padding: 10px;
    top: 70%;
    right: 5px;
    background: #333;
    border-radius: 5px;
}

.member-hover-menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.member-hover:hover .member-hover-menu {
    display: block;
}
