:root {
    --hover-background-color: #f8f9fa;
}

@font-face {
    src: url('../fonts/NexonMaplestoryLight.woff2') format('woff2');
    font-display: swap;
    font-family: 'NexonMaplestory';
    font-weight: 300;
    font-style: normal;
}

@font-face {
    src: url('../lib/bootstrap/bootstrap-icons-1.11.0/fonts/bootstrap-icons.woff2') format('woff2');
    font-display: swap;
    font-family: 'Bootstrap Icons';
    font-weight: normal;
    font-style: normal;
}

[v-cloak] {
    display: none;
}

body {
    font-family: NexonMaplestory, sans-serif;
    --bs-body-font-family: NexonMaplestory;
}

body a {
    text-decoration: none;
    color: inherit;
}

body a:hover {
    text-decoration: none;
    color: inherit;
}

.row-7 {
    display: flex;
    flex-wrap: wrap;
}

.row-7 > * {
    width: 14.28571428571429%;
}

.calendar .day-of-the-week {
    width: 100%;
    padding-left: 0;
}

.day-of-the-week {
    margin-top: 1rem;
    background: #eee;
}

.day-of-the-week > div {
    text-align: center;
    padding: 0.5rem;
    border: 1px solid black;
}

.day-of-the-week abbr[title] {
    border: none;
    font-weight: 800;
    text-decoration: none;
}

.day-grid .DAY {
    border: 1px solid black;
    word-break: break-all;
    min-height: 6vw;
    padding: 0 0 5px;
}

.day-grid .DAY.has-schedule:not(.month-next):not(.month-prev) {
    filter: brightness(90%);
}

.day-grid .month-prev,
.day-grid .month-next {
    filter: opacity(0.6);
}

.day-grid.editable .DAY:hover {
    cursor: pointer;
    filter: opacity(0.8);
}

.BACKGROUND-RED {
    background-color: lightpink !important;
}

.BACKGROUND-BLUE {
    background-color: aliceblue !important;
}

.BACKGROUND-PURPLE {
    background-color: mediumpurple !important;
}

.BACKGROUND-GREEN {
    background-color: palegreen !important;
}

.BACKGROUND-YELLOW {
    background-color: wheat !important;
}

.BACKGROUND-GREY {
    background-color: lightgrey !important;
}

.day-grid .month-prev, .day-grid .month-next {
    background-color: #fff;
}

h1 a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

h1 a:hover {
    color: black;
}

h1 a.move:hover {
    font-weight: bold;
    color: black;
}

.text-right {
    text-align: right !important;
}

.btn-outline-dark.selected:disabled {
    border: 3px dotted red;
}

.text-align-left {
    text-align: left !important;
}

.text-align-center {
    text-align: center !important;
}

.text-align-right {
    text-align: right !important;
}

.day-grid .date {
    padding: 0;
    text-align: center;
    width: 100%;
}

.day-grid .date .d-day-count {
    font-size: 0.8em;
}

.date .day-header {
    margin-top: 5px;
}

.date .day {
    margin-left: 5px;
    font-size: 1.2em;
}

.day-grid .holiday .day,
.day-of-the-week > div:nth-child(7n+1) abbr,
.day-grid > div:nth-child(7n+1) .day {
    color: red;
}

.day-grid > div:not(.holiday):nth-child(7n) .day,
.day-of-the-week > div:nth-child(7n) abbr {
    color: blue;
}

.day-grid .today,
.day-grid .searchDay {
    border: 3px solid red;
}

.day-grid .today .day span {
    color: white;
}

.day-grid .today .day {
    background-color: red;
    border-radius: 100%;
    width: 100%;
}

.homeButton {
    font-size: 1.7em;
    color: #ccc;
}

a.homeButton:hover {
    color: white;
}

.duty-table-header {
    font-size: 1.3em;
    margin: 0 auto;
    display: flex;
}

.duty-type .indicator {
    margin-left: 5px;
    border: 2px solid #eaeaea;
}

.duty-table-header .buttons {
    margin-left: auto;
    color: black;
}

.duty-types .duty-type {
    margin-right: .7rem;
}

.duty-types .duty-type .indicator {
    padding: 2px;
}

.duty-types .duty-type-count {
    margin-left: 2px;
    width: 1rem;
}

.month-control {
    text-align: center;
    margin: 0;
}

.month-control .info {
    background-color: #eee;
    padding: 5px 15px;
    margin: 10px 0;
    border-radius: 15px;
    width: fit-content;
}

.month-control-left {
    text-align: left;
    padding-left: 0;
}

.month-control-right {
    text-align: right;
}

.link {
    color: unset;
}

.link:hover {
    cursor: pointer;
}

.login-box {
    max-width: 50%;
    margin: 100px auto 0;
}

.login-box .sso-login:hover {
    cursor: pointer;
    filter: brightness(95%);
}

.day-grid {
    padding-left: 0;
    width: 100%;
}

.members {
    padding: 20px;
    font-size: 2.5em;
}

.d-day-item .d-day_menu {
    text-align: right;
}

.d-day-item .d-day_day {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.d-day-item p {
    font-size: 1.2em;
}

.add_modal input {
    width: 80%;
}

.d-day-list .d-day-item {
    background-color: mintcream;
    height: 90%;
    max-height: 120px;
    margin: 5px;
    padding: 10px;
}

.d-day-list .d-day-item.selected {
    border: 3px solid lightpink;
    filter: brightness(90%);
}

.d-day-list .d-day-item:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.d-day-list .d-day-private {
    background-color: mistyrose;
}

.d-day-item .d-day_day .pretty {
    font-size: 0.8em;
}

.hidden {
    display: none;
}

.swal2-html-container form {
    text-align: left;
}

.date .duty {
    width: 100%;
    margin: 0;
}

.duty .duty-type {
    margin: 0;
    padding: 0;
    height: 2em;
}

.duty .duty-type button {
    width: 100%;
    margin-bottom: 0.5em;
}

.duty_type-list .duty-type:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.calendar .date .holiday-info,
.date .schedules .schedule {
    text-align: left;
    line-height: 2;
    margin-left: 5px;
    border-top: 2px dashed white;
}

.date .holiday-info span.holiday {
    color: red;
}

.calendar .date .schedule {
    font-size: 1em;
}

#detail-view-modal .schedules {
    max-height: 650px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#detail-view-modal .schedules .schedule {
    font-size: 1.2em;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 10px;
}

#detail-view-modal .schedules .schedule.visibility-private {
    background-color: mistyrose;
}

#detail-view-modal .schedules .schedule.visibility-public {
    background-color: honeydew;
}

#detail-view-modal .schedules .schedule.visibility-friends {
    background-color: aliceblue;
}

.schedules .schedule .schedule-content {
    margin: 0;
    padding: 0;
}

#detail-view-modal .schedules .schedule.schedule-add-button {
    padding: 0;
}

#detail-view-modal .schedule i.has-description {
    display: none;
}

.schedule-add .content-length,
.schedule-edit .content-length {
    font-size: 0.6em;
    color: #333;
}

.schedule-add textarea,
.schedule-edit textarea {
    font-size: 1em;
}

.schedule-tags {
    text-align: right;
}

.schedule-tag {
    font-size: 0.7em;
    padding: 0 0.5em;
    border-radius: 15px;
    margin: 0.1em;
    border: 1px solid black;
    background-color: floralwhite;
    width: fit-content;
    white-space: nowrap;
    display: inline-block
}

#detail-view-modal .schedule-tag:hover {
    cursor: pointer;
}

#detail-view-modal input,
#detail-view-modal textarea {
    margin-bottom: 0.5em;
}

.schedule-tag::after,
.schedule-tag::before {
    font-family: 'Bootstrap Icons', serif;
    position: relative;
    top: 3px;
}

.schedule-tag::before {
    content: '\F5B1';
    margin-right: 0.2em;
    position: relative;
    top: 3px;
}

.schedule-tag.tagged-true::before {
    font-family: unset;
    margin-right: 0.1em;
    content: 'by';
    top: 0;
}

.schedule-tag.tagged-false::before {
    content: '\F4DC';
}

#detail-view-modal .schedule-tag.tagged-false::before {
    content: none;
}

#detail-view-modal .schedule-tag.tagged-false::after {
    content: '\F622';
}

.schedule-tag.schedule-tag-add {
    display: none;
}

.schedule-tag.schedule-tag-add select {
    border: none;
    width: 3.5em;
    background: floralwhite;
    -webkit-appearance: none;
}

.schedule-tag.schedule-tag-add::before {
    content: '\F4DC';
    margin: 0;
}

#detail-view-modal .schedule-tag-add {
    display: inline-block;
    line-height: 1.5;
}

#detail-view-modal .modal-header .current-date-label {
    font-size: 1.3em;
}

.schedules .schedule small {
    font-size: 0.75em;
}

#detail-view-modal .schedules .schedule .buttons {
    text-align: right;
}

.shadow {
    box-shadow: 2px 4px 7px 3px #eaeaea;
}

.navbar {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.55);
}

.navbar .nav-right {
    color: white;
    margin-right: 20px;
    display: flex;
}

.nav-item {
    margin-right: 10px;
}

.navbar-brand {
    margin-left: 1em;
}

.member-hover-menu {
    display: none;
    position: absolute;
    text-align: right;
    padding: 10px;
    top: 70%;
    right: 5px;
    background: #333;
    border-radius: 5px;
}

.member-hover:hover .member-hover-menu {
    display: block;
}

#header {
    margin: 0;
}

#body {
    max-width: 64rem;
    min-height: 82vh;
    padding: 10px;
    margin: 0 auto;
}

#footer {
    height: 10vh;
    padding-top: 1rem;
    padding-right: 1rem;
    text-align: right;
    background-color: rgb(33, 37, 41);
    color: white;
    font-size: 1.4em;
    width: 100%;
    margin: 0;
}

.privacy-config .btn.selected {
    border: 3px solid #000;
    position: relative;
}

.border-red {
    border: 2px solid red;
}

.sso-logins .sso-service {
    justify-content: space-between;
    display: flex;
    padding: 10px;
}

.sso-logins .sso-icon {
    width: 50px;
    height: 50px;
}

.member-info th {
    background-color: #eee;
}

.todo-container {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 5px 0 0;
}

#add-todo-btn {
    font-size: 1.2rem;
    margin: 0;
    cursor: pointer;
    width: 9rem;
    border-right: 1px solid #dee2e6;
    background-color: #22c55e;
    color: white;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    border-right: 1px solid black;
}

#todo-list-container {
    display: flex;
    overflow: hidden;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

#todo-list {
    overflow-x: auto;
}

.todo-item {
    flex: 0 0 auto;
    display: flex;
    background-color: var(--hover-background-color);
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-left: 0.5rem;
    transition: background-color 0.3s;
    position: relative;
    user-select: none;
    cursor: pointer;
    align-items: center;
}

.todo-item .handle {
    padding: 0.3rem;
    cursor: grab;
    font-size: 1.25rem;
    border-right: 1px solid #dee2e6;
}

.todo-item:hover {
    background-color: #e2e8f0;
}

.todo-text {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.todo-item.dragging {
    opacity: 0.5;
}

input[readonly], textarea[readonly] {
    background-color: var(--hover-background-color);
    cursor: not-allowed;
}

.search-bar {
    height: 100%;
}

.search-bar input {
    border-radius: 10px 0 0 10px;
}

.search-bar .btn {
    border-radius: 0 10px 10px 0;
}

.monthSelector-header {
    padding-right: 0;
}

.monthSelector-header div {
    padding-right: 0;
}

.monthSelector-header button {
    border-radius: 15px;
}

.month-control .currentCalendar,
.month-control input {
    font-size: 2.5em;
}

.month-control span,
.month-control .monthSelector-header button,
.month-control .move {
    font-size: 2em;
}

.month-control .year-month-btn,
.month-control i,
.month-control .month-btn,
.month-control a {
    font-size: 1.5em;
}

.monthSelector button.active {
    background-color: #0d6efd;
}

.monthSelector .year-month-btn,
.monthSelector .year-month-btn:active,
.monthSelector .year-month-btn:hover {
    border: none;
    background: none;
}

.monthSelector .dropdown-menu {
    left: -10% !important;
}

.monthSelector .dropdown-menu .month-btn {
    padding: 20px;
}

#search-result-modal .search-result-row:hover {
    cursor: pointer;
    background-color: #e2e8f0;
}

.position-relative {
    position: relative !important;
}

.schedule small.help-note {
    font-size: 0.6em;
    position: absolute;
    right: 15px;
    margin-top: 10px;
}

.schedule .schedule-description {
    font-size: 0.8em;
}

.DAY .schedule .schedule-description {
    display: none;
}

.month-control .today-button {
    border: none;
    background-color: lightskyblue;
}

.dashboard .duty-type div {
    padding: 0.2rem;
}


.cursor-pointer {
    cursor: pointer;
}

.hover-bg-light:hover {
    background-color: var(--hover-background-color);
}

.member-card {
    transition: transform 0.2s ease-in-out;
}

.member-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    background-color: var(--hover-background-color);
}

.blue {
    color: dodgerblue;
}

.red {
    color: orangered;
}

.friend-section .handle {
    cursor: grab;
}

.mobile-footer {
    display: none;
}
