/* mobile */
@media (max-width: 991px) {

    #body {
        padding: 6vh 10px 12vh 10px;
    }

    #footer {
        height: 12vh;
    }

    .calendar {
        margin: 0 10px;
    }

    header h1 {
        font-size: 2em;
    }

    .calendar h1 {
        font-size: 2.5em;
    }

    .calendar .day-of-the-week {
        font-size: 1.2em;
    }

    .calendar .day-grid {
        font-size: 1.2em;
    }

    .todo-container {
        font-size: 1.5em;
    }

    header a {
        font-size: 1.5em;
    }

    header .profile {
        font-size: 1.2em;
    }

    header .homeButton {
        font-size: 3em;
    }

    .dutyTypes {
        margin-right: 10px;
    }

    .duty .memo {
        font-size: 1.3em;
    }

    .day-grid .DAY {
        min-height: 10vw;
    }

    .login-box {
        max-width: 90%;
    }

    .login-box label {
        font-size: 1.5em;
    }

    .login-box .form-group {
        font-size: 1.5em;
    }

    .login-box input {
        font-size: 1.5em;
    }

    .login-box button {
        font-size: 2em;
    }

    .login-box #remember {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .navbar-header {
        margin-top: 20px;
        text-align: center;
    }

    .navbar-header i {
        position: absolute;
        right: 15px;
    }

    .navbar-collapse {
        position: absolute;
        font-size: 1.5em;
        top: 0;
        right: 0;
        text-align: right;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 30%;
        background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
        opacity: 0.95;
    }

    .member-hover {
        display: none;
    }

    .navbar .navbar-toggler, .navbar .navbar-brand {
        font-size: 1.5em;
    }

    #detail-view-modal .modal-dialog.modal-lg {
        max-width: 90%;
        font-size: 1.8em;
    }

    .modal-dialog.modal-lg input,
    .modal-dialog.modal-lg button,
    .modal-dialog.modal-lg {
        font-size: 1em;
    }

    .swal2-container .swal2-popup {
        font-size: 1.5em;
    }

    .vue-dday,
    .vue-dday button,
    .vue-dday input {
        font-size: 1.5em;
    }

    .d-day-list .d-day-item {
        max-height: 150px;
    }

    #detail-view-modal .schedules {
        max-height: 1100px;
    }

    #sso-signup {
        font-size: 2em;
    }

    #add-todo-modal .modal-dialog,
    #add-todo-modal .modal-header,
    #todo-details-modal .modal-dialog,
    #todo-details-modal .modal-header {
        max-width: 90%;
        font-size: 1.5rem;
    }

    #add-todo-modal h5,
    #todo-details-modal h5 {
        font-size: 2em;
    }

    #add-todo-modal input,
    #add-todo-modal textarea,
    #add-todo-modal button,
    #add-todo-modal span,
    #todo-details-modal input,
    #todo-details-modal textarea,
    #todo-details-modal button,
    #todo-details-modal span {
        font-size: 1.5em;
    }

    .todo-item .handle {
        font-size: 2.3rem;
    }

    .modal-dialog {
        max-width: 95%;
    }

    .dashboard {
        font-size: 1.8em;
    }

    .dashboard h5 {
        font-size: 1em;
    }

    .dashboard-intro {
        font-size: 2em;
    }

    .pc-footer {
        display: none;
    }

    .mobile-footer {
        display: flex;
    }

    .mobile-footer i {
        font-size: 1.5em;
    }

    .member-vue {
        font-size: 2em;
    }

    .member-vue .btn {
        font-size: 1em;
    }

}
