<div class="day-grid row-7" :class="{'editable': canEdit}">
  <div class="DAY"
       v-for="({calendarDay, duty}, index) in calendarWithDuties"
       :id="formattedDate(calendarDay.year, calendarDay.month, calendarDay.day)"
       :class="{
          'month-prev': (calendarDay.month < month),
          'month-next': (calendarDay.month > month),
          'today': isToday(calendarDay),
          'searchDay' : isSearchDay(calendarDay),
          'holiday': isHoliday(index),
          'has-schedule': hasSchedule(index),
        }"
       :style="{'background-color': duty.dutyColor || ''}"
       v-on:click="viewDayDetail(calendarDay, duty, index)">
    <div class="date container">
      <div class="day-header text-left pl-2 relative">
        <span class="day" v-text="(calendarDay.month==month?'':calendarDay.month +'/ ')+ calendarDay.day"></span>
        <div class="absolute" style="right:10px;top:0">
          <span v-if="selectedDday" v-text="calcDday(calendarDay)" class="d-day-count"></span>
        </div>
      </div>
      <div v-if="!batchEditMode && otherDuties.length > 0" class="other-duties inline-block text-center mx-auto">
        <div v-for="other in otherDuties"
             class="other-duty flex flex-col items-center justify-center px-2 py-1 mb-2 border border-white rounded-2xl mx-auto"
             :style="{'background-color': other.duties[index].dutyColor || ''}"
             style="width: fit-content;">

          <span class="inline-flex items-baseline">
            <span class="font-bold">{{ other.name }}</span>
            <small v-if="other.duties[index].dutyType">:{{ sliceText(other.duties[index].dutyType, 4) }}</small>
          </span>
        </div>
      </div>
      <div v-if="!batchEditMode" class="schedules">
        <div v-if="holidaysByDays[index]"
             class="holiday-info"
             v-for="holiday in holidaysByDays[index]">
                            <span :class="holiday.isHoliday ? 'holiday' : 'not-holiday'"
                                  v-text="holiday.dateName">

                            </span>
        </div>
        <div class="d-day-schedules">
          <div
              class="schedule d-day-schedule"
              v-for="dDay in dDaySchedules(calendarDay)"
              :key="'dday-' + dDay.id"
          >
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline" viewBox="0 0 24 24" fill="currentColor">
              <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Zm-9 3.75a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
            </svg> {{ dDay.title }}
          </div>
        </div>
        <div class="schedule" v-for="schedule in schedulesByDays[index]" :key="schedule.id">
          <p class="schedule-content">
            <svg v-if="schedule.visibility === 'PRIVATE'" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline" viewBox="0 0 24 24" fill="currentColor">
              <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z" clip-rule="evenodd" />
            </svg>
            {{ schedule.content }}
            <template v-if="schedule.totalDays > 1">
              [{{ schedule.daysFromStart }}/{{ schedule.totalDays }}]
            </template>
            <svg v-if="schedule.description || (schedule.attachments && schedule.attachments.length > 0)"
               class="has-description cursor-pointer h-4 w-4 inline"
               xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
               @click.stop="showDescription(schedule)">
              <path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0 1 12 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 0 1-3.476.383.39.39 0 0 0-.297.17l-2.755 4.133a.75.75 0 0 1-1.248 0l-2.755-4.133a.39.39 0 0 0-.297-.17 48.9 48.9 0 0 1-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97Z" clip-rule="evenodd" />
            </svg>
            <small>{{ printScheduleTime(schedule) }}</small>
          </p>

          <div class="schedule-tags">
            <span
                v-for="tag in schedule.tags"
                v-if="tag.id !== memberId"
                :key="tag.id"
                class="schedule-tag tagged-false"
            >{{ tag.name }}</span><span
              v-if="schedule.isTagged"
              class="schedule-tag tagged-true"
          >{{ schedule.owner }}</span>
          </div>
        </div>
      </div>
      <div v-if="batchEditMode" class="duty flex flex-wrap">
        <button v-for="type in team.dutyTypes"
                class="duty-type px-2 py-1 text-sm border border-gray-800 text-gray-800 hover:bg-gray-800 hover:text-white rounded font-medium transition-colors"
                v-text="type.name.length > 3 ? type.name.substring(0, 3) : type.name"
                :class="[dutyTypeClasses(type, duty), {'pressed': (duty?.dutyType == type.name) || (!duty?.dutyType && !type.id)}]"
                :style="{'background-color': type.color}"
                v-on:click="changeDutyType(duty, type)"
        >
        </button>
      </div>
    </div>
  </div>
</div>
