<div class="day-grid row-7" :class="{'editable': canEdit}">
  <div class="DAY"
       v-for="({calendarDay, duty}, index) in calendarWithDuties"
       :id="formattedDate(calendarDay.year, calendarDay.month, calendarDay.day)"
       :class="{
          'month-prev': (calendarDay.month < month),
          'month-next': (calendarDay.month > month),
          'today': isToday(calendarDay),
          'searchDay' : isSearchDay(calendarDay),
          'holiday': isHoliday(index),
          'has-schedule': hasSchedule(index),
        }"
       :style="{'background-color': duty.dutyColor || ''}"
       v-on:click="viewDayDetail(calendarDay, duty, index)">
    <div class="date container">
      <div class="day-header text-align-left ps-2 position-relative">
        <span class="day" v-text="(calendarDay.month==month?'':calendarDay.month +'/ ')+ calendarDay.day"></span>
        <div class="position-absolute" style="right:10px;top:0">
          <span v-if="selectedDday" v-text="calcDday(calendarDay)" class="d-day-count"></span>
        </div>
      </div>
      <div v-if="!batchEditMode && otherDuties.length > 0" class="other-duties d-inline-block text-center mx-auto">
        <div v-for="other in otherDuties"
             class="other-duty d-flex flex-column align-items-center justify-content-center px-2 py-1 mb-2 border-1 border-white rounded-4"
             :style="{'background-color': other.duties[index].dutyColor || ''}"
             style="width: fit-content; margin-left: auto; margin-right: auto;">

          <span class="d-inline-flex align-items-baseline">
            <span class="fw-bold">{{ other.name }}</span>
            <small v-if="other.duties[index].dutyType">:{{ sliceText(other.duties[index].dutyType, 4) }}</small>
          </span>
        </div>
      </div>
      <div v-if="!batchEditMode" class="schedules">
        <div v-if="holidaysByDays[index]"
             class="holiday-info"
             v-for="holiday in holidaysByDays[index]">
                            <span :class="holiday.isHoliday ? 'holiday' : 'not-holiday'"
                                  v-text="holiday.dateName">

                            </span>
        </div>
        <div class="d-day-schedules">
          <div
              class="schedule d-day-schedule"
              v-for="dDay in dDaySchedules(calendarDay)"
              :key="'dday-' + dDay.id"
          >
            <i class="bi bi-calendar-check"></i> {{ dDay.title }}
          </div>
        </div>
        <div class="schedule" v-for="schedule in schedulesByDays[index]" :key="schedule.id">
          <p class="schedule-content">
            <i v-if="schedule.visibility === 'PRIVATE'" class="bi bi-lock-fill"></i>
            {{ schedule.content }}
            <template v-if="schedule.totalDays > 1">
              [{{ schedule.daysFromStart }}/{{ schedule.totalDays }}]
            </template>
            <i v-if="schedule.description"
               class="has-description bi bi-chat-left-text cursor-pointer"
               @click.stop="showDescription(schedule)"
            ></i>
            <small>{{ printScheduleTime(schedule) }}</small>
          </p>

          <div class="schedule-tags">
            <span
                v-for="tag in schedule.tags"
                v-if="tag.id !== memberId"
                :key="tag.id"
                class="schedule-tag tagged-false"
            >{{ tag.name }}</span><span
              v-if="schedule.isTagged"
              class="schedule-tag tagged-true"
          >{{ schedule.owner }}</span>
          </div>
        </div>
      </div>
      <div v-if="batchEditMode" class="duty row">
        <button v-for="type in team.dutyTypes"
                class="duty-type btn btn-sm btn-outline-dark"
                v-text="type.name.length > 3 ? type.name.substring(0, 3) : type.name"
                :class="dutyTypeClasses(type, duty)"
                :disabled="(duty?.dutyType == type.name) || (!duty?.dutyType && !type.id)"
                v-on:click="changeDutyType(duty, type)"
        >
        </button>
      </div>
    </div>
  </div>
</div>
