<div th:unless="${visible}">
  <div class="alert alert-danger" role="alert">
    <p></p><span th:text="${member.name}"></span> 님의 시간표를 조회할 수 없습니다.</p>
    <p>해당 시간표는 <span class="text-bg-warning" th:text="${member.calendarVisibility.label}"></span> 상태입니다.</p>
  </div>
</div>
<div class="duty-vue" v-cloak th:if="${visible}">
  <div th:replace="~{duty/todo-list}"></div>
  <div class="calendar mt-3" th:attr="data-member_id=${member.id}">
    <div th:replace="~{duty/month-control}"></div>
    <div th:replace="~{duty/duty-table-header}"></div>
    <div th:replace="~{duty/day-grid}"></div>
    <div th:replace="~{duty/dday-list}"></div>
  </div>

  <!--  Modals-->
  <div th:replace="~{duty/modals/todo-detail-modal}"></div>
  <div th:replace="~{duty/modals/todo-add-modal}"></div>
  <div th:replace="~{duty/modals/search-result-modal}"></div>
  <div th:replace="~{duty/modals/detail-view-modal}"></div>
  <div th:replace="~{duty/modals/add-dday-modal}"></div>
  <div th:replace="~{duty/modals/show-other-duties-modal}"></div>
</div>

<script th:src="@{/js/duty/day-grid.js}"></script>
<script th:src="@{/js/duty/dday-list.js}"></script>
<script th:src="@{/js/duty/detail-view-modal.js}"></script>
<script th:src="@{/js/duty/duty-table-header.js}"></script>
<script th:src="@{/js/duty/search-result-modal.js}"></script>
<script th:src="@{/js/duty/todo-add-modal.js}"></script>
<script th:src="@{/js/duty/todo-detail-modal.js}"></script>
<script th:src="@{/js/duty/month-control.js}"></script>
<script th:src="@{/js/duty/todo-list-methods.js}"></script>
<script th:src="@{/js/duty/formats.js}"></script>
<script th:src="@{/js/duty/show-other-duties-modal.js}"></script>

<script th:src="@{/js/duty/duty.js}"></script>

<script>
  const visible = "[[${visible}]]" === 'true';
  if (visible) {
    const memberId = parseInt("[[${member.id}]]");
    const teamId = parseInt("[[${member.teamId}]]");
    const loginMemberId = parseInt("[[${loginMember?.id}]]");
    const year = parseInt("[[${year}]]");
    const month = parseInt("[[${month}]]");
    const searchDay = parseInt("[[${day}]]");
    loadApp(memberId, teamId, loginMemberId, year, month, searchDay);
  }

</script>
