<div class="duty-table-header">
  <div class="duty-types d-flex">
    <div class="duty-type d-flex" v-for="type in team.dutyTypes">
      <div :class="['indicator', 'BACKGROUND-' + type.color]">
        <span v-text="type.name"></span>
      </div>
      <div class="duty-type-count">
        <span v-text="type.cnt"></span>
      </div>
    </div>
  </div>
  <div v-if="hasTeam" class="buttons">
    <button v-if="canEdit && batchEditMode"
            class="edit-btn btn btn-warning"
            v-on:click="showBatchUpdate">한번에 수정
    </button>
    <button v-if="canEdit && batchEditMode && team.dutyBatchTemplate"
            class="btn btn-info"
            v-on:click="uploadBatchFile"
    >시간표 파일 업로드
    </button>

    <button v-if="canEdit && batchEditMode"
            class="edit-btn btn btn-success"
            v-on:click="batchEditMode=false;">편집완료
    </button>
    <button class="btn btn-outline-primary" @click="showOtherDuties()">함께보기</button>
    <button v-if="canEdit && !batchEditMode"
            class="edit-btn btn btn-warning"
            v-on:click="batchEditMode=true;">편집모드
    </button>
  </div>
</div>
<div class="day-of-the-week row-7">
  <div><abbr title="일요일">일</abbr></div>
  <div><abbr title="월요일">월</abbr></div>
  <div><abbr title="화요일">화</abbr></div>
  <div><abbr title="수요일">수</abbr></div>
  <div><abbr title="목요일">목</abbr></div>
  <div><abbr title="금요일">금</abbr></div>
  <div><abbr title="토요일">토</abbr></div>
</div>
