<!DOCTYPE html>
<!-- TODO: Need to change all the page into Vue -->

<head th:replace="~{layout/include::link}"/>
<body>
<div th:replace="~{layout/header::header-title(|[Edit] ${member.department} ${member.name}|)}"></div>

<div class="body">

  <div class="calendar">
    <div class="month-control row">
      <h1>
        <a class="move h_pointer" v-on:click="addMonth(-1)">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
        <input type="month" v-model="combinedYearMonth">
        <a class="move h_pointer" v-on:click="addMonth(1)">
          <i class="bi bi-arrow-right-circle"></i>
        </a>
      </h1>
    </div>
    <div class="dutyTypes">
    <span v-for="type in department.dutyTypes">
      <span :class="['indicator', 'BACKGROUND-' + type.color]">&nbsp;&nbsp;&nbsp;</span>
      <span v-text="type.name"></span>
    </span>
      <button class="back-btn btn btn-success"
              v-on:click="completeEdit"
      >
        완료<i class="bi bi-calendar-event"></i>
      </button>
    </div>

    <ul class="weekdays">
      <li><abbr title="S">SUN</abbr></li>
      <li><abbr title="M">MON</abbr></li>
      <li><abbr title="T">TUE</abbr></li>
      <li><abbr title="W">WED</abbr></li>
      <li><abbr title="T">THU</abbr></li>
      <li><abbr title="F">FRI</abbr></li>
      <li><abbr title="S">SAT</abbr></li>
    </ul>

    <ol class="day-grid">
      <li v-for="(duty, index) in duties"
          :class="{
          ['BACKGROUND-' + duty.dutyColor]: true,
          'month-prev': (duty.month < month),
          'month-next': (duty.month > month),
          'today': isToday(duty),
        }">
        <div class="date container">
          <div class="day">
            <span v-text="duty.day"></span>
          </div>
          <div class="duty row">
            <button v-for="type in department.dutyTypes"
                    class="duty-type btn btn-sm btn-outline-dark"
                    v-text="type.name.length > 3 ? type.name.substring(0, 3) : type.name"
                    :class="dutyTypeClasses(type, duty)"
                    :disabled="(duty.dutyType == type.name) || (!duty.dutyType && !type.id)"
                    v-on:click="changeDutyType(duty, type)"
            >
            </button>
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>

</body>
</html>

<script>
    $(function () {
        let year = parseInt("[[${year}]]");
        let month = parseInt("[[${month}]]");
        const memberId = parseInt("[[${member.id}]]");
        const departmentId = parseInt("[[${member.departmentId}]]");

        const app = new Vue({
            el: '.calendar',
            data: {
                year: year,
                month: month,
                duties: [],
                department: {},
            }, mounted() {
                this.loadDuties(year, month);
                this.loadDepartment();
            }, computed: {
                combinedYearMonth: {
                    get() {
                        return `${this.year}-${this.month.toString().padStart(2, '0')}`;
                    },
                    set(value) {
                        const [year, month] = value.split('-');
                        this.year = parseInt(year);
                        this.month = parseInt(month);
                    },
                },
                isToday() {
                    return (duty) => {
                        const today = new Date();
                        return duty.month === today.getMonth() + 1 && duty.day === today.getDate();
                    }
                }
            }, watch: {
                combinedYearMonth() {
                    this.loadDuties(app.year, app.month);
                    const currentUrl = new URL(window.location.href);
                    currentUrl.searchParams.set('year', app.year);
                    currentUrl.searchParams.set('month', app.month);
                    window.history.replaceState(null, '', currentUrl.toString());
                },
            }, methods: {
                addMonth(month) {
                    const newDate = new Date(app.year, app.month - 1 + month);
                    app.year = newDate.getFullYear();
                    app.month = newDate.getMonth() + 1;
                },
                loadDuties(year, month) {
                    $.ajax({
                        url: '/api/duty',
                        type: 'GET',
                        data: {
                            memberId: memberId,
                            year: year,
                            month: month,
                        },
                        success: (data) => {
                            this.duties = data;
                        }
                    })
                },
                loadDepartment() {
                    fetch(`/api/departments/${departmentId}`)
                        .then(response => response.json())
                        .then(data => {
                            this.department = data;
                        })
                },
                dutyTypeClasses(type, duty) {
                    const departmentLength = app.department.dutyTypes.length;
                    const colClass = (departmentLength === 2 || departmentLength === 4) ? 'col-md-6' : 'col-md-4';
                    return {
                        ['BACKGROUND-' + type.color]: true,
                        selected: type.id === duty.dutyTypeId,
                        [colClass]: true,
                    };
                },
                changeDutyType(duty, type) {
                    $.ajax({
                        url: '/api/duty/change',
                        type: 'PUT',
                        data: JSON.stringify({
                            year: duty.year,
                            month: duty.month,
                            day: duty.day,
                            dutyTypeId: type.id,
                            memberId: memberId,
                        }),
                        contentType: 'application/json',
                        success: (data) => {
                            duty.dutyType = type.name;
                            duty.dutyColor = type.color;
                        },
                        fail: (data) => {
                            Swal.fire({
                                icon: 'error',
                                title: '저장에 실패했습니다.',
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    })
                },
                completeEdit() {
                    const memberName = "[[${member.name}]]";
                    window.location.href = `/duty/${memberName}?year=${app.year}&month=${app.month}`;
                }
            }
        })


    })

    $('input[type="month"]').on('change', function () {
        let year = $(this).val().split('-')[0];
        let month = $(this).val().split('-')[1];
        window.location.href = window.location.href.split('?')[0] + '?year=' + year + '&month=' + month;
    });

</script>
