<!DOCTYPE html>
<head th:replace="~{layout/include::link}" xmlns:v-on="http://www.w3.org/1999/xhtml"/>
<body>

<div th:replace="~{layout/header::header-title(|${member.name}|)}"></div>

<div th:if="${member.department}" class="calendar">
  <div class="month-control row">
    <h1>
      <a class="move"
         th:href="@{/duty/{member}(member=${member.name},year=${prevMonth.year}, month=${prevMonth.monthValue})}">
        <i class="bi bi-arrow-left-circle"></i>
      </a>
      <input type="month" th:value="|${year}-${month < 10 ? '0' + month : month}|" onclick="this.showPicker()">
      <a class="move"
         th:href="@{/duty/{member}(member=${member.name},year=${nextMonth.year}, month=${nextMonth.monthValue})}">
        <i class="bi bi-arrow-right-circle"></i>
      </a>
    </h1>
  </div>
  <div class="dutyTypes">
    <span v-for="type in department.dutyTypes">
      <span :class="['indicator', 'BACKGROUND-' + type.color]">&nbsp;&nbsp;&nbsp;</span>
      <span v-text="type.name"></span>
    </span>
    <button th:if="${#strings.equals(member.id, loginMember?.id) || member.managerId==loginMember?.id}"
            class="edit-btn"
            th:onclick="|window.location.href='@{/duty/edit/{member}(member=${member.name},year=${year}, month=${month})}'|">
      수정<i class="bi bi-pencil-square"></i>
    </button>
  </div>
  <ul class="weekdays">
    <li><abbr title="S">SUN</abbr></li>
    <li><abbr title="M">MON</abbr></li>
    <li><abbr title="T">TUE</abbr></li>
    <li><abbr title="W">WED</abbr></li>
    <li><abbr title="T">THU</abbr></li>
    <li><abbr title="F">FRI</abbr></li>
    <li><abbr title="S">SAT</abbr></li>
  </ul>

  <ol class="day-grid">
    <li v-for="(duty, index) in duties"
        :class="{
          ['BACKGROUND-' + duty.dutyColor]: true,
          'month-prev': (duty.month < month),
          'month-next': (duty.month > month),
          'today': isToday(duty),
        }">
      <div class="date container">
        <div class="day">
          <span v-text="duty.day"></span>
        </div>
        <div class="schedules">
          <div class="schedule" v-for="schedule in schedulesByDays[index]">
            <span class="schedule=content" v-text="schedule.content"></span>
            <div class="schedule-time-container">
              <span
                  v-if="shouldDisplayStartTime(schedule)"
                  class="start-time single-time"
                  v-text="formattedTime(schedule.startDateTime)"
              />
              <span
                  v-if="shouldDisplayEndTime(schedule)"
                  class="end-time single-time"
                  v-text="formattedTime(schedule.endDateTime)"
              />
            </div>
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>
<div th:if="!${member.department}" class="no-data p-5">
  <h3>어느 부서에도 소속되어 있지 않습니다.</h3>
</div>

<div class="body">
  <div class="d-day-list row" v-cloak>
    <div v-for="(dDay, index) in dDays" class="col-6">
      <div class="d-day-item card row"
           v-on:click="dDayToggle(dDay)"
           :data-id="dDay.id"
           :class="{'d-day-private': dDay.isPrivate}">
        <div class="d-day_day col-4">
          <span v-if="!dDay.editMode">{{dDay.dDayText}}</span>
        </div>
        <div class="d-day_content col-8">
          <p v-if="!dDay.editMode">{{dDay.date}}</p>
          <p v-if="!dDay.editMode">{{dDay.title}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>

<script>
    $(function () {
        $('input[type="month"]').on('change', function () {
            let year = $(this).val().split('-')[0];
            let month = $(this).val().split('-')[1];
            window.location.href = window.location.href.split('?')[0] + '?year=' + year + '&month=' + month;
        });

        const memberId = parseInt("[[${member.id}]]");

        if (document.querySelector('.calendar')) {
            const yearAndMonth = $('.month-control input').val().split('-');
            const year = parseInt(yearAndMonth[0]);
            const month = parseInt(yearAndMonth[1]);
            const departmentId = parseInt("[[${member.departmentId}]]");

            const calendar = new Vue({
                el: '.calendar',
                data: {
                    year: year,
                    month: month,
                    duties: [],
                    schedulesByDays: [],
                    department: {},
                }, mounted() {
                    this.loadDuties();
                    this.loadSchedule();
                    this.loadDepartment();
                }, methods: {
                    loadDuties() {
                        $.ajax({
                            url: '/api/duty',
                            type: 'GET',
                            data: {
                                memberId: memberId,
                                year: year,
                                month: month,
                            },
                            success: (data) => {
                                this.duties = data;
                            }
                        })
                    },
                    loadSchedule() {
                        $.ajax({
                            url: '/api/schedules',
                            type: 'GET',
                            data: {
                                memberId: memberId,
                                year: year,
                                month: month,
                            },
                            success: (data) => {
                                this.schedulesByDays = data;
                            }
                        })
                    },
                    loadDepartment() {
                        fetch(`/api/departments/${departmentId}`)
                            .then(response => response.json())
                            .then(data => {
                                this.department = data;
                            })
                    },
                    shouldDisplayStartTime(schedule) {
                        const daysFromStart = schedule.daysFromStart;
                        const startDateTime = new Date(schedule.startDateTime);
                        const startHour = startDateTime.getHours().toString().padStart(2, '0');
                        return daysFromStart === 1 && startHour !== '00';
                    },
                    shouldDisplayEndTime(schedule) {
                        const daysFromStart = schedule.daysFromStart;
                        const totalDays = schedule.totalDays;
                        const startDateTime = new Date(schedule.startDateTime);
                        const endDateTime = new Date(schedule.endDateTime);
                        const endHour = endDateTime.getHours().toString().padStart(2, '0');
                        return (
                            daysFromStart === totalDays &&
                            endHour !== '00' &&
                            !(totalDays === 1 && sameDate(startDateTime, endDateTime))
                        );
                    }, formattedTime(startDateTime) {
                        const dateTime = new Date(startDateTime);
                        const hour = dateTime.getHours().toString().padStart(2, '0');
                        const minute = dateTime.getMinutes().toString().padStart(2, '0');
                        return hour + ':' + minute;
                    }, isToday(duty) {
                        const today = new Date();
                        return duty.month === today.getMonth() + 1 && duty.day === today.getDate();
                    }
                }
            })
        }

        const app = new Vue({
            el: '.d-day-list',
            data: {
                dDays: [],
                selectedDday: null,
            },
            mounted() {
                this.load();
            },
            methods: {
                load() {
                    $.ajax({
                        url: '/api/dday/' + memberId,
                        type: 'GET',
                        success: (data) => {
                            this.dDays = data;
                            for (const dDay of app.dDays) {
                                dDay.editMode = false;
                                if (dDay.calc == 0) {
                                    dDay.dDayText = 'D-Day';
                                } else if (dDay.calc < 0) {
                                    dDay.dDayText = 'D+' + -dDay.calc;
                                } else {
                                    dDay.dDayText = 'D-' + dDay.calc;
                                }
                            }
                        }
                    })
                },
                dDayToggle(clickedDday) {
                    $('.d-day-item.selected').removeClass('selected');
                    document.querySelectorAll('span.d-day-count').forEach((span) => {
                        span.remove();
                    })
                    if (app.selectedDday == clickedDday) {
                        app.selectedDday = null;
                        return;
                    }
                    app.selectedDday = clickedDday;

                    const element = document.querySelector(`.d-day-item[data-id='${app.selectedDday.id}']`);
                    element.classList.add('selected');

                    const calendarYear = parseInt($("input[type='month']").val().split('-')[0]);
                    const calendarMonth = parseInt($("input[type='month']").val().split('-')[1]);

                    document.querySelectorAll('.day-grid li .date').forEach((li) => {
                        const day = li.querySelector('.day span').innerText
                        const date = new Date(calendarYear, calendarMonth - 1, day);
                        const calc = Math.floor((date.getTime() - new Date(app.selectedDday.date).getTime()) / (1000 * 60 * 60 * 24)) + 1;
                        const dDayText = calc < 0 ? 'D' + calc : calc == 0 ? 'D-Day' : 'D+' + (calc + 1);
                        const countElement = document.createElement('span');
                        countElement.classList.add('d-day-count');
                        countElement.innerText = dDayText;
                        li.prepend(countElement);
                    })
                },
            }
        })
    })

    function sameDate(startDateTime, endDateTime) {
        return startDateTime.getTime() == endDateTime.getTime();
    }
</script>
