<div class="duty-table-header">
  <div class="duty-types flex">
    <div class="duty-type flex" v-for="type in team.dutyTypes">
      <div class="indicator" :style="{'background-color': type.color}">
        <span v-text="type.name"></span>
      </div>
      <div class="duty-type-count">
        <span v-text="type.cnt"></span>
      </div>
    </div>
  </div>
  <div v-if="hasTeam" class="buttons">
    <button v-if="isMyCalendar && !batchEditMode" class="px-4 py-2 rounded font-medium transition-colors border border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white" @click="showOtherDuties()">함께보기</button>
    <button v-if="!isMyCalendar && loginMemberId && !batchEditMode"
            class="px-4 py-2 rounded font-medium transition-colors"
            :class="{'bg-blue-500 text-white hover:bg-blue-600': showMyDuties, 'border border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white':!showMyDuties}"
            @click="toggleMyDuties()">함께보기
    </button>
    <button v-if="canEdit && batchEditMode"
            class="edit-btn px-4 py-2 rounded font-medium transition-colors bg-yellow-500 text-white hover:bg-yellow-600"
            v-on:click="showBatchUpdate">한번에 수정
    </button>
    <button v-if="canEdit && batchEditMode && team.dutyBatchTemplate"
            class="px-4 py-2 rounded font-medium transition-colors bg-cyan-500 text-white hover:bg-cyan-600"
            v-on:click="uploadBatchFile"
    >시간표 파일 업로드
    </button>
    <button v-if="canEdit && batchEditMode"
            class="edit-btn px-4 py-2 rounded font-medium transition-colors bg-green-500 text-white hover:bg-green-600"
            v-on:click="batchEditMode=false;">편집완료
    </button>
    <button v-if="canEdit && !batchEditMode"
            class="edit-btn px-4 py-2 rounded font-medium transition-colors bg-yellow-500 text-white hover:bg-yellow-600"
            v-on:click="batchEditMode=true;">편집모드
    </button>
  </div>
</div>
<div class="day-of-the-week row-7">
  <div><abbr title="일요일">일</abbr></div>
  <div><abbr title="월요일">월</abbr></div>
  <div><abbr title="화요일">화</abbr></div>
  <div><abbr title="수요일">수</abbr></div>
  <div><abbr title="목요일">목</abbr></div>
  <div><abbr title="금요일">금</abbr></div>
  <div><abbr title="토요일">토</abbr></div>
</div>
