<!DOCTYPE html>
<head th:replace="~{layout/header::link}"></head>
<body>

<div th:replace="~{layout/header::header(|${member.department} ${member.name}|)}"></div>

<div class="calendar">
  <div class="month-control row">
    <h1>
      <a class="move"
         th:href="@{/duty/{member}(member=${member.name},year=${prevMonth.year}, month=${prevMonth.monthValue})}">
        <i class="bi bi-arrow-left-circle"></i>
      </a>
      <input type="month" th:value="|${year}-${month < 10 ? '0' + month : month}|" onclick="this.showPicker()">
      <a class="move"
         th:href="@{/duty/{member}(member=${member.name},year=${nextMonth.year}, month=${nextMonth.monthValue})}">
        <i class="bi bi-arrow-right-circle"></i>
      </a>
    </h1>
  </div>
  <div class="dutyTypes">
    <span th:each="type : ${dutyTypes}">
      <span th:class="|indicator BACKGROUND-${type.color}|">&nbsp;&nbsp;&nbsp;</span>
      <span th:text="${type.name}"></span>
    </span>
    <button th:if="${#strings.equals(member.id, loginMember?.id)}" class="edit-btn"
            th:onclick="|window.location.href='@{/duty/edit/{member}(member=${member.name},year=${year}, month=${month})}'|">
      수정 <i class="bi bi-pencil-square"></i>
    </button>
  </div>
  <ul class="weekdays">
    <li>
      <abbr title="S">SUN</abbr>
    </li>
    <li>
      <abbr title="M">MON</abbr>
    </li>
    <li>
      <abbr title="T">TUE</abbr>
    </li>
    <li>
      <abbr title="W">WED</abbr>
    </li>
    <li>
      <abbr title="T">THU</abbr>
    </li>
    <li>
      <abbr title="F">FRI</abbr>
    </li>
    <li>
      <abbr title="S">SAT</abbr>
    </li>
  </ul>

  <ol class="day-grid" th:with="today=${#dates.createNow()}">
    <th:block th:each="i : ${#numbers.sequence(0, offset % 7 -1, 1)}">
      <li class="month-prev"/>
    </th:block>
    <th:block th:each="i : ${#numbers.sequence(1, lastDay)}">
      <li th:with="duty=${duties.get(i)}"
          th:classappend='|BACKGROUND-${ duty?.dutyColor ?: offColor}${today.getYear()+1900==year and today.getMonth()+1 == month and today.getDate() == i ? " today": "" }|'>
        <div class="date container">
          <div class="day row">
            <span class="date_number" th:text='|${i}|'></span>
          </div>
          <div class="duty">
            <p class="memo" th:if="${duty?.memo?.length > 0}"
               th:text="|${duty.memo}|">
            </p>
          </div>
        </div>
      </li>
    </th:block>
    <th:block th:if="(${offset} + ${lastDay}) % 7 > 0"
              th:each="i : ${#numbers.sequence(1, 7 - ((offset + lastDay) % 7) )}">
      <li class="month-next"/>
    </th:block>
  </ol>
</div>
</body>
</html>

<script>
    $('input[type="month"]').on('change', function () {
        let year = $(this).val().split('-')[0];
        let month = $(this).val().split('-')[1];
        window.location.href = window.location.href.split('?')[0] + '?year=' + year + '&month=' + month;
    });
</script>
