<!DOCTYPE html>
<head th:replace="~{layout/header::link}"></head>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Duty Park</title>
</head>
<body class="edit">
<head th:replace="~{layout/header::header(|[Edit] ${member.department} ${member.name}|)}"></head>

<div class="calendar">
  <div class="month-control row">
    <div class="col-3"></div>
    <div class="col-md-6">
      <h1>
        <a class="move"
           th:href="@{/duty/edit/{member}(member=${member.name},year=${prevMonth.year}, month=${prevMonth.monthValue})}">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
        <a class="current" th:text="|${year}년 ${month}월|"></a>
        <a class="move"
           th:href="@{/duty/edit/{member}(member=${member.name},year=${nextMonth.year}, month=${nextMonth.monthValue})}">
          <i class="bi bi-arrow-right-circle"></i>
        </a>
      </h1>
    </div>
    <div class="col-3">
      <button class="back-btn"
              th:onclick="|window.location.href='@{/duty/{member}(member=${member.name},year=${year}, month=${month})}'|">
        완료 <i class="bi bi-check-square"></i>
      </button>
    </div>
  </div>

  <ul class="weekdays">
    <li>
      <abbr title="S">SUN</abbr>
    </li>
    <li>
      <abbr title="M">MON</abbr>
    </li>
    <li>
      <abbr title="T">TUE</abbr>
    </li>
    <li>
      <abbr title="W">WED</abbr>
    </li>
    <li>
      <abbr title="T">THU</abbr>
    </li>
    <li>
      <abbr title="F">FRI</abbr>
    </li>
    <li>
      <abbr title="S">SAT</abbr>
    </li>
  </ul>

  <ol class="day-grid">
    <th:block th:each="i : ${#numbers.sequence(0, offset % 7 -1, 1)}">
      <li class="month-prev"></li>
    </th:block>
    <th:block th:each="i : ${#numbers.sequence(1, lastDay)}">
      <li th:with="duty=${duties.get(i)}" th:data-day="${i}"
          th:classappend="|BACKGROUND-${duty==null ? offColor : duty.dutyColor}|">
        <div class="date container">
          <div class="day">
            <span th:text="${i}"></span>
            <i class="bi edit-memo"
               th:classappend="${#strings.isEmpty(duty?.memo) ? 'bi-calendar-plus' : 'bi-calendar-check'}"
               th:attr='data-memo=${duty?.memo?:""}'></i>
          </div>
          <div class="duty">
            <div class="duty-type-list" th:each="type:${dutyTypes}">
              <div class="duty-type" th:data-type_id="${type.id}">
                <btn class="btn btn-sm btn-outline-dark"
                     th:classappend='|BACKGROUND-${type.color} ${(type.name == duty?.dutyType or (type.id == null and duty?.dutyType==null) ) ? "selected" : ""}|'
                     th:text="${type.name}"></btn>
              </div>
            </div>
          </div>
        </div>
      </li>
    </th:block>
    <th:block th:each="i : ${#numbers.sequence(1, 7 - ((offset + lastDay) % 7) )}">
      <li class="month-next"></li>
    </th:block>
  </ol>
</div>

</body>
</html>

<script>
    const year = parseInt("[[${year}]]");
    const month = parseInt("[[${month}]]");
    const memberId = parseInt("[[${member.id}]]");

    $(function () {

        $('.edit-memo').on('click', function () {
            let btn = $(this);
            const originalMemo = btn.data('memo');
            const date = btn.parents('li');
            const day = date.data('day');
            Swal.fire({
                title: '메모를 입력 해 주세요.',
                input: 'textarea',
                inputValue: originalMemo,
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: '확인',
                cancelButtonText: '취소',
                showLoaderOnConfirm: true,
                preConfirm: (memo) => {
                    return fetch('/api/duty/memo', {
                        method: 'put',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            year: year,
                            month: month,
                            day: day,
                            memo: memo,
                            memberId: memberId,
                        })
                    }).then(response => {
                        if (!response.ok) {
                            throw new Error(response.statusText)
                        }
                        Swal.fire({
                            title: '메모가 저장 되었습니다.',
                            icon: 'success',
                            confirmButtonText: '확인'
                        })
                        btn.data('memo', memo);
                        if (memo.length > 0) {
                            date.find('.bi-calendar-plus').removeClass('bi-calendar-plus').addClass('bi-calendar-check');
                        } else {
                            date.find('.bi-calendar-check').removeClass('bi-calendar-check').addClass('bi-calendar-plus');
                        }
                        return true;
                    })
                        .catch(error => {
                            Swal.showValidationMessage(
                                `메모 저장에 실패 하였습니다 : ${error}`
                            )
                        })
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.isConfirmed) {
                    // TODO: 메모 저장
                }
            });
        });

        $('.btn-outline-dark').click(function () {
            const date = $(this).parents('li');
            const day = date.data('day');
            const type = $(this).parent('.duty-type');
            const type_id = type.data('type_id');
            const backgroundColor = $(this).attr('class').match(/BACKGROUND-([A-Z]+)/)[0];

            let button = $(this);

            date.waitMe({
                effect: 'win8_linear',
            });
            $.ajax({
                url: '/api/duty/update',
                type: 'PUT',
                data: JSON.stringify({
                    year: year,
                    month: month,
                    day: day,
                    dutyTypeId: type_id,
                    memberId: memberId,
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        date.find('.duty-type').find('.selected').removeClass('selected');
                        date.get(0).className = date.get(0).className.replace(/BACKGROUND-[A-Z]+/g, '');
                        date.addClass(backgroundColor);
                        button.addClass('selected');
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: '저장에 실패했습니다.',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                }, error: function (e) {
                    Swal.fire({
                        icon: 'error',
                        title: '저장에 실패했습니다.',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }, complete: function () {
                    date.waitMe('hide');
                }
            });

        });
    })

    const isSingleCharacter = function (text) {
        const strGa = 44032; // 가
        const strHih = 55203; // 힣

        const lastStrCode = text.charCodeAt(text.length - 1);

        if (lastStrCode < strGa || lastStrCode > strHih) {
            return false; //한글이 아닐 경우 false 반환
        }
        return ((lastStrCode - strGa) % 28 == 0)
    }
    const roChecker = function (text) {
        return text + (isSingleCharacter(text) ? '로' : '으로');
    }

</script>
