<div class="month-control row">
  <div class="month-control-left col-md-3">
    <button class="today-button info" v-on:click="today()"><span>Today</span><i
        class="bi bi-arrow-counterclockwise"></i></button>
  </div>
  <div class="col-md-6 monthSelector">
    <a class="move cursor-pointer" v-on:click="addMonth(-1)">
      <i class="bi bi-arrow-left-circle"></i>
    </a>
    <button class="year-month-btn btn text-center" data-bs-toggle="dropdown"
            data-bs-auto-close="outside">
      <span class="currentCalendar" v-text="combinedYearMonth"></span>
    </button>

    <div class="dropdown-menu p-3 shadow">
      <div class="justify-content-between mb-3 monthSelector-header container row">
        <div class="col-md-2">
          <button class="btn today-button" v-on:click="today()">오늘</button>
        </div>
        <div class="col-md-8">
          <div class="m-auto" style="width:fit-content">
            <button class="btn btn-light btn-lg" v-on:click="monthSelector.year-=10">&laquo;</button>
            <button class="btn btn-light btn-lg" v-on:click="monthSelector.year--">&lsaquo;</button>
            <span class="fw-bold fs-1 cur-year m-3" v-text="monthSelector.year"></span>
            <button class="btn btn-light btn-lg" v-on:click="monthSelector.year++">&rsaquo;</button>
            <button class="btn btn-light btn-lg" v-on:click="monthSelector.year+=10">&raquo;</button>
          </div>
        </div>
        <div class="col-md-2 text-end">
          <button class="btn btn-light btn-lg btn-close" v-on:click="closeDropdown"></button>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-3 g-2">
          <button
              v-for="(m, index) in Array.from({ length: 12 }, (_, i) => i + 1)"
              :key="index"
              :class="{ 'btn btn-outline-secondary col month-btn': true, active: year === monthSelector.year && m === month }"
              @click="selectMonth(m)"
          >{{ m }}월</button>
        </div>
      </div>
    </div>
    <a class="move cursor-pointer" v-on:click="addMonth(1)">
      <i class="bi bi-arrow-right-circle"></i>
    </a>
  </div>
  <div class="month-control-right col-md-3 p-0 position-relative">
    <div class="search-bar d-flex align-items-center" v-if="canSearch">
      <form class="search-form" @submit.prevent="search()">
        <div class="d-flex w-100">
          <div class="position-relative flex-grow-1">
            <input type="text" class="form-control" :class="{'with-person-icon': !isMyCalendar}" :placeholder="searchPlaceholder" v-model="searchQuery">
            <i v-if="!isMyCalendar" class="bi bi-person-fill position-absolute search-person-icon"></i>
          </div>
          <button class="btn btn-outline-dark" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </form>
    </div>
    <div class="info member-info position-absolute end-0" v-if="!canSearch">
      <i class="bi bi-person-fill"></i>
      <span th:text="${member.name}"></span>
    </div>
  </div>
</div>
