<div id="add_dday_modal" hidden>
  <p class="mb-5 fs-3">중요한 이벤트들을 추가해서 (남은/지난) 일수를 확인하세요</p>

  <input type="text" class="form-control fs-3" placeholder="기념일 제목" name="title" maxlength="30">

  <div class="d-flex my-3 align-items-center fs-3">
    <input type="date" class="form-control fs-3 flex-grow-0 w-50" name="date">
    <div class="buttons ms-auto">
      <button type="button" class="btn btn-lg btn-outline-warning reset-day-btn">오늘</button>
      <button type="button" class="btn btn-lg btn-outline-success add-days-btn" data-days="1">+1일</button>
      <button type="button" class="btn btn-lg btn-outline-success add-days-btn" data-days="7">+7일</button>
    </div>
  </div>

  <div class="mt-2">
    <div class="pretty p-switch p-fill">
      <input type="checkbox" name="isPrivate"/>
      <div class="state p-success">
        <label>비공개</label>
      </div>
    </div>
  </div>
</div>
