<div id="add_dday_modal" hidden>
  <p class="mb-5 text-2xl">중요한 이벤트들을 추가해서 (남은/지난) 일수를 확인하세요</p>

  <input type="text" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent text-2xl" placeholder="기념일 제목" name="title" maxlength="30">

  <div class="flex my-3 items-center text-2xl">
    <input type="date" class="px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent text-2xl flex-grow-0 w-1/2" name="date">
    <div class="buttons ml-auto">
      <button type="button" class="px-6 py-3 text-lg rounded font-medium transition-colors border border-yellow-500 text-yellow-500 hover:bg-yellow-500 hover:text-white reset-day-btn">오늘</button>
      <button type="button" class="px-6 py-3 text-lg rounded font-medium transition-colors border border-green-500 text-green-500 hover:bg-green-500 hover:text-white add-days-btn" data-days="1">+1일</button>
      <button type="button" class="px-6 py-3 text-lg rounded font-medium transition-colors border border-green-500 text-green-500 hover:bg-green-500 hover:text-white add-days-btn" data-days="7">+7일</button>
    </div>
  </div>

  <div class="mt-2">
    <div class="pretty p-switch p-fill">
      <input type="checkbox" name="isPrivate"/>
      <div class="state p-success">
        <label>비공개</label>
      </div>
    </div>
  </div>
</div>
