<div class="modal fade" id="show-other-duties-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content border-0 shadow-lg rounded-4">
      <div class="modal-header bg-primary text-white rounded-top-4">
        <h5 class="modal-title fw-bold" id="addModalLabel">함께 보기</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body px-4 py-3">
        <p class="mb-4 text-secondary fs-4">
          시간표를 함께 띄울 친구들을 <strong class="text-dark">최대 <span v-text="MAX_OTHER_DUTIES"></span>명</strong> 선택하세요.
        </p>
        <div class="row row-cols-1 row-cols-md-2 g-3 fs-3">
          <label class="col" v-for="friend in friends" :key="friend.id" v-if="friend.teamId">
            <div class="card h-100 border-1 shadow-sm hover-shadow-sm transition rounded-3">
              <div class="card-body d-flex align-items-center gap-3">
                <input type="checkbox" class="form-check-input mt-0" :id="'friend-' + friend.id"
                       :disabled="otherDutiesSelected.length == MAX_OTHER_DUTIES && !otherDutiesSelected.includes(friend)"
                       @change="toggleFriendDuty(friend.id, $event)"/>
                <label :for="'friend-' + friend.id" class="form-check-label fw-semibold ms-2 mb-0">
                  {{ friend.name }} <small class="text-muted">({{ friend.team }})</small>
                </label>
              </div>
            </div>
          </label>
        </div>
      </div>

      <div class="modal-footer bg-light border-top-0 rounded-bottom-4 px-4 py-3">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
      </div>
    </div>
  </div>
</div>
