<div id="todo-details-modal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="todo-details-title">할일 상세</h5>
        <button type="button" class="btn-close position-absolute end-0 me-3" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <div class="input-group mb-2">
            <span class="input-group-text" id="todo-title-input">제목</span>
            <input type="text" class="todo-title form-control" aria-labelledby="todo-title-input"
                   aria-label="title" :readonly="!editTodoMode"/>
          </div>
          <div class="input-group">
            <span class="input-group-text" id="todo-content-input">내용</span>
            <textarea rows="4" class="todo-content form-control" aria-label="content"
                      aria-labelledby="todo-content-input"
                      :readonly="!editTodoMode"></textarea>
          </div>
        </div>
        <div class="text-right">
          <p class="text-muted todo-date"></p>
          <button type="button" class="btn btn-info btn-sm" v-on:click="editTodoMode=true" v-if="!editTodoMode">수정
          </button>
          <button type="button" class="btn btn-success btn-sm" v-on:click="updateTodo()" v-if="editTodoMode">저장
          </button>
          <button type="button" class="btn btn-danger btn-sm" v-on:click="deleteTodo()">삭제</button>
        </div>
      </div>
    </div>
  </div>
</div>
